@font-face {
  font-family: 'Molle';
  src: url(./Molle-Italic.ttf);
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url(./PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'PlayfairDisplay-SemiBold';
  src: url(./PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url(./PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'PlayfairDisplay-ExtraBold';
  src: url(./PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url(./BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(./Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(./Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(./OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(./OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(./OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(./OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'Italianno-Regular';
  src: url(./Italianno-Regular.ttf);
}

@font-face {
  font-family: 'Nueva-Italic';
  src: url(./NuevaStdItalic.ttf);
}



@font-face {
  font-family: "Inter";
  src: url(./Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(./Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(./Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(./Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(./Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(./Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Adobe-Heiti-Std";
  src: url(./AdobeHeitiStd-Regular.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-VariableFont_wght.ttf);
}