#about-us{
  h3{
    font-size: 30px;
    font-family: @font-extrabold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000000;
  }
  h5{
      font-size: 20px;
      font-family: @font-chinese;
      letter-spacing: 1px;
      color: #cba567;
      margin-bottom: 28px;
  }
  .about-wrapper{
    margin: 0 30px;
    .about-banner{
      position: relative;
      .banner-img{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        box-shadow: 0 0 0 1000px rgba(0,0,0,0.35) inset;
        z-index: 1; 
        cursor: pointer;
      }
    }
    .about-title{
      z-index: 2;
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -25%);
      text-align: center;
      h5{
          letter-spacing: 1.2px;
          font-size: 24px;
          font-family: @font-chinese;
          color: #ffc000;
      }
      h2{
          font-size: 42px;
          font-family: @font-extrabold;
          color: #ffffff;
          margin-bottom: 12px;
          font-weight: 400;
      }
    }
    .profile{
      padding: 60px 0px;
      .ant-carousel .slick-dots {
        bottom: 20px;
        height: 30px;
      }
      .profile-text{
        color: #666666;
        font-size: 15px;
        line-height: 26px;
        font-family: @font-primary;
        margin-bottom: 24px;
      }
      .profile-content{
        border-left: 3px solid #cba567;
        padding: 0 25px;
        font-family: @font-primary;
        p{
          font-size: 18px;
          color: #000000;
        }
        strong{
          font-size: 18px;
          font-family: @font-bold;
        }
      }
    }
  }
  .mission-vision{
    background-image: url(/img/feature-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .mission-vision-wrapper{
      padding: 60px 30px;
      .mission-content-wrapper{
        margin-top: 18px;
        .mission-content{
          padding: 58px 30px 23px;
          background: #ffffff;
          .mission-img{
            display: inline-block;
            text-align: center;
            img{
              width: auto;
              height: auto;
              margin-bottom: 36px;
              margin-right: 24px;
            }
          }
          .mission-text{
            display: inline-block;
            font-family: @font-primary;
            h6{
              color: #caa467;
              font-size: 15px;
              text-align: left;
              text-transform: uppercase;
              margin-bottom: 5px;
              font-family: @font-bold;
            }
            p{
              color: #000000;
              font-size: 24px;
              font-weight: 700;
              font-family: @font-bold;
              margin-bottom: 0;
            }
          }
          @media(min-width:768px) and (max-width: 1101px) {
            padding: 30px;
            .mission-img{
              display: block;
              img{
                margin-bottom: 20px;
                margin-right: 0;
              }
            }
            .mission-text{
              display: block;
              h6{
                text-align: center;
              }
            }
          }
          @media(max-width: 550px){
            padding: 30px;
            .mission-img{
              display: block;
              img{
                margin-bottom: 20px;
                margin-right: 0;
              }
            }
            .mission-text{
              display: block;
              h6{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .selling-points{
    padding: 60px 30px;
    border-bottom: 1px solid #cccccc;
    border-bottom-style: dotted;
    p{
      color: #666666;
      font-size: 15px;
      text-align: center;
      line-height: 26px;
      font-family: @font-primary;
    }
    .selling-points-wrapper{
      padding-top: 40px;
      .selling-points-content{
        .selling-points-img{
          margin: auto;
          img{
            height: 184px;
            width: 184px;
          }
        }
        .selling-points-title{
          color: #000000;
          font-weight: 700;
          font-size: 16px;
          font-family: @font-bold;
          text-align: center;
          padding-top: 20px;
        }
        .selling-points-desc{
          color: #888888;
          line-height: 24px;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          font-family: @font-primary;
          padding-bottom: 20px;
          padding-top: 5px;
        }
        @media(max-width:992px){
          padding-bottom: 12px;
        }
      }
    }
  }
}