#checkout.grey {
  padding: 30px 15px;
  background: #f7f7f7;
}
.total{
  font-family: @font-roboto-bold;
}
#checkout {
  font-family: @font-roboto;
  .icon-img {
    max-width: 60px;
  }
  .tc-invoice h3 {
    color: #333;
  }
  #order-details .icon img,
  #details .icon img {
    padding: 5px;
    margin-right: 10px;
    border-radius: 30px;
    border: 1px solid @link-hover-color;
  }
  #details .icon img {
    padding: 10px;
  }
}
#checkout .ant-input {
  min-width: 50px;
  padding: 10px;
}
#checkout .traveler-info {
  margin: 40px 0;
}
.tc-tour-form .depart-box {
  line-height: 24px;
  padding: 24px 30px;
  min-height: 170px;
}
.tc-tour-form .ant-fullcalendar {
  margin: auto;
  height: 495px;
}
.tc-tour-form .ant-list-item .ant-btn {
  background: #d65454;
}
.tc-room-form .ant-card-head-title {
  font-size: 16px;
  padding: 12px 0 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #cba567;
}
.room {
  position: relative;
}
.rooms .ant-form-item-children {
  width: 100%;
}
.rooms .ant-input,
#item-details .ant-input {
  text-align: center;
}
#item-details .ant-tabs-tabpane .checkout-row h2 {
  font-size: 22px;
  font-family: @font-family;
}
.checkout-row table {
  max-width: 400px;
}
.checkout-row h2 sup {
  top: 0;
}
.tc-room-form .ant-card-body {
  text-align: left;
  padding: 5px 20px;
}
.tc-room-form .ant-card-body .ant-row-flex {
  margin: 5px 0;
}
#order-details {
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ceebec;
  .item {
    font-weight: bold;
    white-space: pre-wrap;
    color: #cba567;
    margin: 5px 0 0 0;
  }
  .invoice {
    margin-top: 15px;
  }
}
#order-details h2 {
  margin: 0;
  font-size: 16px;
  padding: 15px 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  background: #cba567;
}
#item-details .ant-tabs-tabpane #addon {
  h2 {
    font-size: 16px;
    font-weight: bold;
    color: @primary-color;
    small {
      color: @primary-color;
      display: inline-block;
      font-size: 15px;
      padding: 5px 10px;
      background: #f3e5cc;
      border-radius: 20px;
      margin: 0 10px;
    }
  }
  .box {
    margin-bottom: 20px;
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
  }
  .option {
    display: inline-block;
    margin-left: 10px;
    h4 {
      color: @primary-color;
      display: inline-block;
      font-size: 15px;
      padding: 5px 10px;
      background: #f3e5cc;
      border-radius: 20px;
      margin: 0 10px;
    }
  }
  .select-row,
  .ant-radio-wrapper {
    margin-bottom: 10px;
    display: block;
  }
  .ant-select-selection--single {
    padding: 5px 10px;
  }
}
#item-details .tc-tour-form .ant-list-item h2 {
  color: @primary-color;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
#item-details .tc-tour-form > * {
  display: block;
  flex: none;
  margin: 0;
}
.tc-tour-form .ant-btn[disabled] {
  background: #eee;
}
.tc-tour-form .ant-list-item b {
  font-size: 16px;
  color: @primary-color;
}
.tc-tour-form .ant-list-grid .ant-list-item {
  margin-right: 10px;
  background: #e3e3e3;
  border-radius: 10px;
}
#checkout .room .ant-row-flex {
  margin-bottom: 10px;
}
#checkout .room h2 sup {
  font-size: 15px;
}
#checkout .tc-tour-form.tc-blur-hide-inputs {
  opacity: 0.5;
  filter: blur(3px);
}
.tc-blur-hide-inputs {
  opacity: 0.3;
  filter: blur(3px);
}
#checkout .ant-card-extra {
  padding: 12px 0;
}
#checkout .add-room {
  position: absolute;
  top: 45%;
  width: 70%;
  left: 15%;
  background: @primary-color;
}
#checkout #greet {
  text-align: center;
  background: #f7f7f7;
  margin: 0;
  padding: 0 0 10px;
  font-size: 18px;
  color: @primary-color;
}
#checkout .tc-with-border-top {
  padding: 20px;
  width: 100%;
  background: #eaeaea;
}
.checkout-row {
  background: #f9e7e7;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}
.checkout-row td,
.checkout-row th {
  padding: 5px;
  text-align: left;
}
.checkout-row h2 {
  color: @primary-color;
  margin: 0;
}
.checkout-row .ant-btn {
  background: #d65454;
}
#item-details .ant-steps-small .ant-steps-item-title {
  font-size: 16px;
}
.tc-tour-form .ant-card-extra {
  margin: 10px 0 0;
  padding: 2px 5px;
  background: #fbe5d3;
  border-radius: 100px;
}
.tc-tour-form .ant-fullcalendar-calendar-body {
  padding-top: 0 !important;
}
.tc-tour-form
  .tour-calendar.ant-fullcalendar-fullscreen
  .ant-fullcalendar-calendar-body
  div {
  position: relative !important;
  padding-right: 0 !important;
}
.tc-tour-form
  .tour-calendar.ant-fullcalendar-fullscreen
  .ant-fullcalendar-date {
  height: auto !important;
}
.tc-tour-form {
  .ant-steps-horizontal {
    padding: 0 50px;
  }
  .tc-with-border-bottom {
    border-bottom: 0;
  }
  /*.tour-calendar.ant-fullcalendar-fullscreen {
        height: auto;
    }*/
  .ant-steps {
    margin: 0 auto 20px auto;
    padding: 0 32px !important;
  }
  .ant-steps-item-title {
    text-transform: capitalize;
  }
  .ant-steps-item-process {
    .ant-steps-item-title {
      color: @link-hover-color;
      font-weight: bold;
    }
  }
  /*.ant-row .each-box:nth-child(even), .ant-row>div:nth-child(even) .ant-list-item{
        background: #eee;
  }*/
  #depart-box .ant-list-item {
    padding: 20px;
    text-align: center;
  }
  #depart-box h3 {
    margin: 0;
    color: @primary-color;
    font-weight: bold;
    font-size: 14px;
  }
  .tc-tour-form .tc-with-border-bottom {
    margin: 0 0 30px 0;
  }
  .ant-fullcalendar-cell .ant-fullcalendar-date,
  .legend .green {
    background: @accent-7;
    color: #000;
  }
  .selected {
    .ant-fullcalendar-date {
      background: #cba567;
      color: #fff;
    }
  }
  .ant-fullcalendar-cell .ant-fullcalendar-date.fill,
  .legend .fill {
    background: #b2d7f1;
    color: @link-hover-color;
  }
  .ant-fullcalendar-disabled-cell .ant-fullcalendar-date {
    background: none;
  }
  .tc-tour-form
    .tour-calendar.ant-fullcalendar-fullscreen
    .ant-fullcalendar-content {
    font-size: 14px;
  }
  .month-divider {
    background: #e0e0e0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .ant-fullcalendar-column-header-inner {
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #6481af;
    display: block;
  }
  .ant-fullcalendar-calendar-body div:first-child .ant-fullcalendar-table {
    background: #cbdfe8;
    margin: 0 0 5px 0;
    border-radius: 10px;
  }
  .ant-fullcalendar-column-header {
    padding: 0;
  }

  .slick-list .ant-fullcalendar-table {
    display: table !important;
    width: 100%;
  }
  .slick-prev {
    left: -80px;
  }
  .slick-next {
    right: -30px;
  }
  .slick-next:before,
  .slick-prev:before {
    color: #b0c384;
  }
  .ant-fullcalendar-content {
    display: none;
  }
}
.legend {
  text-align: right;
}
.legend .ant-tag {
  padding: 5px 10px;
  height: auto;
}
#checkout .ant-fullcalendar-fullscreen .ant-fullcalendar-month,
#checkout .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  width: 132px;
}
#checkout .ant-select-selection-selected-value {
  line-height: 1.8;
  color: #333;
}
.tc-tour-form
  .ant-fullcalendar-cell
  .ant-fullcalendar-date
  .ant-fullcalendar-value {
  margin-right: 10px;
}
.tc-tour-form .ant-fullcalendar table {
  height: auto;
}
#checkout-form {
  padding: 30px 0;
  .ant-select-selection__rendered {
    line-height: 30px;
  }
}

#checkout-form .ant-form-item-children {
  width: 100%;
}
#checkout-form .ant-select .ant-select-arrow {
  background: transparent;
  font-size: 10px;
  color: @link-hover-color;
  top: 50%;
  right: 10px;
  padding: 0;
}
#checkout-form .details {
  border-radius: 10px;
  background: #fff;
}
#checkout-form .ant-radio-button-wrapper,
#checkout-form .ant-select-selection--single,
#checkout-form .ant-input {
  background: #f7f7f7;
}
#checkout-form .ant-select-selection--single,
#checkout-form .ant-input {
  border: 1px solid #e2e2e2;
  color: #666;
  padding: 5px 8px;
}
#checkout-form .ant-form-item-label label {
  color: #666;
  text-transform: capitalize;
  display: block;
  margin: 0 0 5px;
}
#checkout-form .details h2 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
  background: @link-hover-color;
  padding: 6px 15px;
  font-weight: normal;
}
#checkout-form .details h2:first-child {
  margin-top: 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#checkout-form .ant-radio-button-wrapper-checked {
  background: #de7171;
  color: #fff;
}
#checkout-form #details .ant-col-4 {
  width: 30%;
}
#checkout-form .ant-select-selection__rendered {
  margin: 0 5px;
}
#checkout-form #details {
  background: #fff;
  border-radius: 10px;
}
#checkout-form #details h1 {
  -webkit-border-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #cba567;
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #fff;
  padding: 15px 20px;
  text-transform: uppercase;
  font-family: @font-family;
  font-weight: bold;
}
#checkout-form .ant-col-14.ant-form-item-control-wrapper {
  width: 66%;
}
#checkout-form .ant-btn {
  background: #cba567;
  border-color: #cba567;
  border-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  margin: 0;
  display: block;
  font-size: 16px;
  min-height: 50px;
}
#checkout-form .remarks {
  width: 85%;
  display: block;
  margin: 0 auto 20px;
}
#order-details {
  background: #fafafa;
  border-radius: 10px;
  .tc-invoice {
    padding: 15px 20px;
    h3 {
      font-size: 16px;
    }
    .right {
      text-align: right;
    }
  }
  .list {
    margin: 2px;
  }
}
.details .box {
  padding: 0 20px 0;
}
.tc-room-form .traveler {
  width: 90px;
  position: relative;
}
#checkout-form .long-btn {
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 12px;
}
#checkout-form .ant-form-item-label label:after {
  content: " ";
}
#checkout-form .ant-input {
  padding: 8px;
}
.tc-invoice td,
.tc-invoice div {
  line-height: 1.4;
}
#order-details h4 {
  font-size: 14px;
  margin: 0;
  color: #cba567;
  white-space: pre-line;
  background: @accent-5;
  padding: 2px 10px;
  text-align: right;
}
#order-details .tc-invoice .total {
  text-align: right;
  display: inline-block;
  float: none;
  width: auto;
  border: 0;
  color: #cba567;
}
#order-details .amount {
  color: #cba567;
  font-weight: bold;
  padding-left: 5px;
}
.tc-invoice .invoice_table_style .item_name {
  font-size: 1.2em;
  color: @link-hover-color;
  font-weight: bold;
}
.tc-invoice .remove {
  padding: 5px 10px;
  background: #e05b5b;
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
  font-weight: normal;
}
#order-details .invoice_table_style {
  margin-top: 20px;
}
#checkout-form .has-error .ant-input {
  border-color: red;
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  margin-top: 4px;
}
#checkout-form .item_name {
  color: @link-hover-color;
}

.tc-tour-form .ant-fullcalendar-column-header-inner {
  margin: 5px auto;
  width: 133px;
}
.tc-tour-form
  .ant-fullcalendar-column-header:first-child
  .ant-fullcalendar-column-header-inner {
  margin-left: 0;
}
#item-details .tc-tour-form {
  overflow: hidden;
  margin-bottom: 20px;
}
#checkout-form .ant-form-item-control {
  margin: 0 0 0 10px;
}
#checkout-form #extra-fields {
  padding-left: 40px;
  text-align: left;
  margin: 20px 0;
}
#checkout-form #extra-fields a {
  font-weight: bold;
}
#extra-fields.error {
  color: red;
}
#extra-fields.error .ant-checkbox {
  border: 2px solid red;
  border-radius: 5px;
}
#extra-fields .note {
  text-align: left;
  color: @link-hover-color;
  font-weight: bold;
  margin: 20px;
}
#checkout-form #service {
  padding: 0 10px;
}
#checkout-form #service .ant-select {
  width: 85%;
  height: 100%;
}
#checkout-form #service .ant-select-selection {
  height: auto !important;
  overflow: -webkit-paged-y !important;
  padding: 10px;
}
#payment #order-details .box {
  background: #f7f6f6;
  margin: 10px 0;
  .info {
    padding: 10px 20px;
  }
}
#payment #order-details h2 {
  background: @link-hover-color;
}
#payment .tc-invoice h2 {
  font-size: 16px;
}
#payment .anticon-check-circle {
  color: green;
}
.agent.ant-select-dropdown-menu-item {
  width: 49%;
  display: inline-block !important;
  text-align: center;
}
#service .ant-select-selection-selected-value {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-right: 0;
}
.terms-box .cancel.ant-btn {
  background: #999;
}
.terms-box {
  width: 90% !important;
}
.terms-box .ant-modal-body .grey {
  padding: 10px 0;
}
.terms-box .ant-modal-footer {
  text-align: center;
  border: 0;
}
.terms-box .ant-btn i {
  font-size: 14px;
}
.ant-table-wrapper .ant-table-thead > tr > th.ant-table-column-sort,
.ant-table-wrapper .ant-table-thead > tr > th.ant-table-column-sort:hover {
  background: #333;
  border: 0;
}
.ant-table-wrapper .ant-table-content tr:nth-child(even) {
  color: #666;
}
.ant-table-wrapper .ant-table-content tr:nth-child(odd) {
  background: #e9f0f3;
}
.ant-table-wrapper .ant-table-thead > tr > th .ant-table-column-sorter-down.on {
  color: #999;
}
.ant-table-wrapper .ant-card-body {
  padding: 24px 0;
}
.cart-sider .ant-card-body {
  padding: 20px 0;
}
.cart-sider .ant-form-item-children,
.contact-form .ant-form-item-children {
  width: 100%;
}
.cart-sider {
  width: auto !important;
}
.cart-sider .ant-form-item-control-wrapper {
  margin: 5px 0 0;
}
.cart-sider.collapsed {
  width: 0 !important;
  min-width: 0 !important;
}
.ant-layout-sider-children .ant-btn {
  border-radius: 20px;
}
#payment {
  background: transparent;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1600px;
  .big {
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
  }
  .big:hover {
    background: @link-hover-color;
    color: #fff;
  }
}
#payment h1 {
  margin: 0 0 20px 0;
  color: @primary-color;
  line-height: 1;
  font-size: 25px;
}
#payment h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}
#payment h3 {
  color: @link-hover-color;
  font-weight: bold;
  font-size: 20px;
}
#payment h4 {
  font-size: 15px;
}
#payment .option {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
  .ant-btn {
    padding: 8px 20px;
    float: right;
    width: 100%;
  }
  h4 {
    color: @link-hover-color;
    font-size: 14px;
  }
  .ant-collapse-item {
    border: 0;
  }
  .ant-collapse-content-box {
    padding: 20px 0 0 0;
  }
  .ant-collapse-header {
    padding: 0;
    .anticon-right {
      display: none;
    }
  }
}
#payment .option h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  background: #ede1ef;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}
#payment .option h3 {
  font-family: @font-family;
  font-size: 20px;
}
/*#payment .option button{
    float: right;
}*/
#payment .option .ant-avatar {
  margin-left: 0;
}
@media (min-width: @screen-md-min) {
  .tc-tour-form .ant-fullcalendar-content {
    display: block;
  }
}
@media (max-width: 1400px) {
  .tc-invoice .total {
    width: auto;
  }
  #checkout-form .ant-select-selection__rendered {
    margin: 0;
  }
  #checkout-form .ant-select-selection-selected-value {
    padding-right: 0;
  }
  .tc-tour-form .ant-fullcalendar-column-header-inner,
  #checkout .ant-fullcalendar-fullscreen .ant-fullcalendar-month,
  #checkout .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
    width: auto;
  }
  .tc-tour-form
    .tour-calendar.ant-fullcalendar-fullscreen
    .ant-fullcalendar-content {
    font-size: 13px;
  }
}
@media (max-width: @screen-xl) {
  #checkout #order-details .icon img,
  #checkout #details .icon img {
    max-width: 90%;
  }
}
@media (max-width: @screen-lg) {
  #payment {
    padding: 20px;
  }
  .cart-sider {
    min-width: auto !important;
  }
  .cart-sider.collapsed {
    min-width: 0 !important;
    max-width: 0 !important;
  }
  .ant-layout-sider-children > div {
    width: 100% !important;
    padding: 20px !important;
    min-width: 300px;
  }
  .cart-sider.collapsed .ant-layout-sider-children + div {
    width: 0 !important;
  }
  .ant-layout-sider-children .anticon-close {
    font-size: 20px !important;
    top: 24px !important;
    right: 20px !important;
  }
  .cart-sider .ant-table-content tr th,
  .cart-sider .ant-table-content td {
    padding: 10px;
  }
  #order-details {
    margin-bottom: 20px;
  }
}
@media (max-width: @screen-md) {
  #item-details .ant-tabs-tabpane #addon .box {
    padding: 10px 0;
    img {
      max-width: 200px;
      margin: auto;
      display: block;
    }
  }
  #item-details #start-book {
    max-width: 400px;
  }
  .tc-tour-form {
    padding: 0;
  }
  #item-details button,
  #item-details .ant-tabs-tab {
    font-size: 0.9rem;
  }
  .tc-tour-form .ant-fullcalendar-cell .ant-fullcalendar-date {
    width: auto;
  }
  .tc-tour-form
    .tour-calendar.ant-fullcalendar-fullscreen
    .ant-fullcalendar-date {
    height: auto;
  }
  .tc-tour-form .ant-steps-horizontal {
    padding: 0;
    margin: 20px auto;
  }
  #checkout-form .ant-form-item-label {
    text-align: right;
  }
  #checkout-form #details .ant-col-4 {
    width: 32%;
    margin-right: 10px;
  }
  #checkout-form .ant-select-selection__rendered {
    margin: 0;
  }
  #checkout-form .ant-select-arrow .ant-select-arrow-icon {
    display: none;
  }
  #checkout-form #details {
    margin-bottom: 20px;
  }
  #checkout-form #order-details h2 {
    font-size: 16px;
  }
  .tc-tour-form .ant-fullcalendar-column-header-inner {
    padding: 10px 0;
    width: auto;
  }
  .terms-box .ant-modal-body .grey {
    background: #fff;
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical)
    .ant-steps-item-description {
    max-width: 100%;
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    margin-right: 0;
  }
}
@media (max-width: @screen-sm) {
  #checkout .tc-with-border-bottom {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  #checkout table {
    display: table;
    margin: auto;
  }
  .legend {
    text-align: center;
  }
  #checkout .room h2 sup {
    font-size: 0.8rem;
  }
  #payment .tc-invoice {
    overflow: auto;
    margin-bottom: 20px;
  }
  #payment .option button {
    float: none;
    margin: 10px auto 0;
    display: block;
  }
  #item-details .ant-tabs-tabpane #addon h2 {
    margin: 10px 0;
  }
  #item-details .ant-radio-wrapper {
    white-space: pre-line;
  }
  #item-details .ant-tabs-tabpane #addon .select-row .option {
    width: 75%;
    vertical-align: top;
  }
  #checkout-form #details .ant-col-4 {
    width: 98%;
    text-align: left;
    padding: 0 20px;
  }
  #checkout-form .ant-col-14.ant-form-item-control-wrapper {
    width: 98%;
    padding: 0 10px;
  }
}
@media (max-width: @screen-xs) {
  #item-details .ant-tabs-tabpane #addon .box {
    padding: 15px;
  }
  #item-details .ant-tabs-tabpane #addon .select-row,
  #item-details .ant-tabs-tabpane #addon .ant-radio-wrapper {
    margin: 0 0 10px 0;
  }
}

#checkout-form .ant-form-item-label label {
  text-align: left;
}

.aboutus{
  font-family: @font-roboto;
}