#contact-us{
  .contact-wrapper{
    margin: 0 30px;
    .contact-us-banner{
      position: relative;
      .banner-img{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        box-shadow: 0 0 0 1000px rgba(0,0,0,0.35) inset;
        z-index: 1; 
        cursor: pointer;
      }
    }
    .contact-us-title{
      z-index: 2;
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -25%);
      text-align: center;
      h5{
          letter-spacing: 1.2px;
          font-size: 24px;
          font-family: @font-chinese;
          color: #ffc000;
      }
      h2{
          font-size: 42px;
          font-family: @font-extrabold;
          color: #ffffff;
          margin-bottom: 12px;
          font-weight: 400;
      }
    }
    
    .contact-form-section{
      margin: 50px 0;
      .get-in-touch-title{
        font-size: 36px;
        font-family: @font-semibold;
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
      }
      label{
        font-size: 18px;
        color: #000000;
        font-family: @font-bold;
      }
      .ant-form-item .ant-form-item-control{
        padding-top: 5px;
        .ant-input{
          border: 1px solid #b9b8b8;
          border-radius: 4px;
          background-color: #f3f3f3;
          height: 50px;
          color: #333333;
          font-size: 15px;
          font-family: @font-primary;
        }
        .ant-checkbox-wrapper{
          font-size: 14px;
          .check-policy{
            color: #cba567;
            &:hover{
              color: @primary-color;
            }
          }
        }
      }
    }
  }
  
}


.quotation-title{
  font-size: 30px;
  font-family: @font-extrabold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000000;
}
.quotation-description{
  font-size: 15px;
  color: #666666;
  line-height: 26px;
  font-family: "Inter";
  margin-right: 45px;
  padding-bottom: 20px;
}
.quotation-form{
  label {
    font-size: 18px;
    color: #000000;
    font-family: @font-bold;
  }
  .ant-form-item .ant-form-item-control {
    padding-top: 7px;
  }
  .ant-form-item .ant-form-item-control .ant-input {
    border: 1px solid #b9b8b8;
    border-radius: 4px;
    background-color: #f3f3f3;
    height: 50px;
    color: #333333;
    font-size: 15px;
    font-family: @font-primary;
  }
  .ant-form-item .ant-form-item-control .ant-select {
    border: 1px solid #b9b8b8;
    border-radius: 4px;
    color: #333333;
    font-size: 15px;
    font-family: @font-primary;
  }
  .ant-select-selection--single{
    height: 50px;
    background-color: #f3f3f3;
  }
  .ant-select-selection__rendered{
    line-height: 48px;
  }
  .ant-select-open .ant-select-selection{
    border-color: transparent;
  }
}
.ant-select-dropdown-menu .ant-select-dropdown-menu-item{
  padding: 12px !important;
}
.kingtravel-quotation-btn{
  border: 2px solid #cba567;
  background-color: #ffffff;
  color: #cba567;
  font-family: "Inter-ExtraBold";
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
}