#corporate-travel{
  .corporate-content{
    color: #000000;
    padding: 60px 50px 40px 0;
    h3{
      font-size: 36px;
      font-family: @font-primary;
      font-weight: 700;
    }
    p{
      font-size: 16px;
      letter-spacing: normal;
      line-height: 1.6em;
      font-family: @font-roboto-light;
    }
  }
  .corporate-title{
    color: #000000;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: @font-primary;
  }
  .corporate-services {
    .service-item{
      height: 200px;
      margin-bottom: 15px;
    }
    .service-img{
      img{
        height: 60px;
      }
    }
    .service-desc{
      font-size: 16px;
      color: #000000;
      font-family: @font-roboto-light;
      font-weight: 300;
      padding-top: 20px;
    }
  }
  .corporate-seamless{
    .corporate-seamless-desc{
      text-align: center;
      color: #046e96;
      font-size: 16px;
      font-family: @font-roboto-light;
      padding-top: 15px;
    }
    .ant-carousel .slick-arrow .anticon{
      font-size: 25px;
      color: #000000;
    }
    .ant-carousel .slick-prev, .ant-carousel .slick-next{
      top: 42%;
    }
    .ant-carousel .slick-prev{
      left: -23px;
    }
    .ant-carousel .slick-next{
      right: -23px;
    }
  }
}
@media(max-width: 767px){
  .corporate-services .service-img, .service-desc{
    text-align: center !important;
  }
  .corporate-content{
    padding: 50px !important;
  }
}