#country-travel{
    h3{
        font-size: 30px;
        font-family: @font-extrabold;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: #000000;
    }
    h5{
        font-size: 20px;
        font-family: @font-chinese;
        letter-spacing: 1px;
        color: #cba567;
        margin-bottom: 28px;
    }
    p{
        color: #666666;
        font-size: 15px;
        font-family: @font-primary;
        line-height: 26px;
        font-weight: 400;
    }
    .get-a-quote{
        padding-top: 30px;
        padding-bottom: 10px;
        a{
            border: 2px solid #cba567;
            background-color: #ffffff;
            color: #cba567;
            padding: 15px 33px;
            font-family: @font-extrabold;
            font-size: 16px;
        }
        a:hover{
            background-color: #ffc000;
            color: #ffffff;
            border: 2px solid #ffc000;
        }
    }
    .country-banner{
        margin: 0 30px;
        position: relative;
        .banner-img{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            box-shadow: 0 0 0 1000px rgba(0,0,0,0.35) inset;
            z-index: 1; 
            cursor: pointer;
        }
    }
    .country-title{
        z-index: 2;
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -25%);
        text-align: center;
        h5{
            letter-spacing: 1.2px;
            font-size: 24px;
            font-family: @font-chinese;
            color: #ffc000;
        }
        h2{
            font-size: 42px;
            font-family: @font-extrabold;
            color: #ffffff;
            margin-bottom: 12px;
            font-weight: 400;
        }
    }
    .plan-country{
        padding: 60px 30px;
    }
    .ready-to-go-tours{
        background-image: url(/img/feature-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .country-inspiration{
        padding: 60px 30px 30px;
        .ant-tabs-nav-container{
            text-align: center;
            margin-bottom: 25px;
            height: auto;
        }
        .country-inspiration-tabs{
            .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
                background: none;
                border: none;
                padding: 0 20px;
            }
            .ant-tabs-tab{
                color: #000000;
                font-weight: 400;
                font-size: 15px;
                font-family: @font-primary;
            }
            .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
                color: #ffc000;
                font-family: @font-bold;
                font-weight: 700;
            }
            .ant-tabs-bar {
                border-bottom: none !important;
            }
            .ant-select-selection--single{
                height: 36px;
            }
            .ant-menu{
                margin-bottom: 25px;
                .ant-menu-item{
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #000000;
                    font-weight: 400;
                    font-size: 15px;
                    font-family: @font-primary;
                }
                .ant-menu-item-selected{
                    color: #ffc000;
                    font-weight: 700;
                    font-family: @font-bold;
                }
            }
            .ant-carousel .slick-arrow {
                border-radius: 50%;
                color: #cba567;
                background: #ffffff;
                width: 40px;
                height: 40px;
                top: 45%;
            }
            .ant-carousel .slick-next {
                left: auto;
                right: -20px;
            }
            .ant-carousel .slick-prev {
                left: -20px;
            }
        }
        .inspiration-img{
            border: 2px solid #ffffff;
            background-position: center;
            background-size: cover;
            height: 259px;
            border-bottom: none;
            margin-top: -3px;
            position: relative;
        }
        .inspiration-img-title{
            z-index: 1;
            position: absolute;
            font-size: 12px;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            h6{
                text-align: center;
                font-family: @font-primary;
                font-size: 12px;
                color: #fff;
                margin-bottom: 0;
            }
        }
        .ant-carousel{
            padding-bottom: 60px;
            .slick-slider {
                .slick-list{
                    text-align: left;
                }
                .slick-dots{
                    bottom: -50px;
                    height: 25px;
                    li{
                        button{
                            width: 14px;
                            height: 14px;
                            background: #cccccc;
                        }
                      }
                      .slick-active{
                        button{
                          background: #ffc000;
                        }
                    }
                }
                @media(min-width: 577px) and (max-width: 767px){
                    .slick-dots {
                        li{
                            button{
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
