@import "./gutting-font-prefix.less";

.w-25 {
  width: 25px;
}

.h-5 {
  height: 5px;
}

.h-3 {
  height: 3px;
}

.screen-height {
  height: 100vh;
}

.relative {
  position: relative;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-color {
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

// .font-bold{
//   font-family: @font-secondary;
// }

.font-semi-bold {
  font-family: @font-opensan-semi;
}

.font-dark-bold {
  font-family: "OpenSans-ExtraBold";
}

.font-bold {
  font-family: "OpenSans-Bold";
}

.right {
  float: right;
}

.left {
  float: left;
}

.underline {
  text-decoration: underline;
}

.bg-skyblue {
  background-color: #e8f4ff;
}

.pad-10 {
  padding: 10px;
}
.pad-15 {
  padding: 15px;
}

.pad-h-20 {
  padding: 0 20px;
}

.pad-l-10 {
  padding-left: 10px;
}

.pad-r-15 {
  padding-right: 15px;
}

.pad-r-20 {
  padding-right: 20px;
}
.pad-r-25 {
  padding-right: 25px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-l-5 {
  padding-left: 5px;
}
.pad-l-30 {
  padding-left: 30px;
}

.pad-r-30 {
  padding-right: 30px;
}

.pad-t-10 {
  padding-top: 10px;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-t-15 {
  padding-top: 15px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-y-10 {
  padding: 10px 0 10px 0;
}

.pad-y-15 {
  padding: 15px 0 15px 0;
}

.pad-t-5 {
  padding-top: 5px;
}
.pad-b-5 {
  padding-bottom: 5px;
}

.pad-b-15 {
  padding-bottom: 15px;
}
.pad-y-10 {
  padding: 10px 0;
}
.pad-y-20 {
  padding: 20px 0;
}

.pad-r-40 {
  padding-right: 40px;
}

.pad-l-0 {
  padding-left: 0;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.fs-36 {
  font-size: 36px;
}

.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}

.fs-18 {
  font-size: 18px;
}

.fs-25 {
  font-size: 25px;
}

.fs-15 {
  font-size: 15px;
}

.mar-0 {
  margin: 0;
}

.mar-t-10 {
  margin-top: 10px;
}
.mar-t-15 {
  margin-top: 15px;
}
.mar-b-15 {
  margin-bottom: 15px;
}
.mar-t-40 {
  margin-top: 40px;
}

.mar-l-30 {
  margin-left: 30px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-0 {
  line-height: 0;
}

.border-right {
  border-right: 1px solid #e1e1e1;
}

.border-right-primary {
  border-right: 1px solid @primary-color;
}

.border-grey {
  border: 1px solid #e1e1e1;
}

.border-top-grey {
  border-top: 1px solid #e1e1e1;
}

.black {
  color: #000000 !important;
}

.white {
  color: #ffffff !important;
}

.border-radius-23 {
  border-radius: 23px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-radius-0 {
  border-radius: 0;
}
.border-radius-3 {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.min-height-82 {
  min-height: 82px;
}

.min-height-62 {
  min-height: 62px;
}

.grey {
  color: #888888 !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bg-white {
  background-color: #ffffff;
}

.top-30-percent {
  top: 30%;
}

.top-50-percent {
  top: 50%;
}

.top-40-percent {
  top: 40%;
}

.right-24 {
  right: 24px;
}

.left-24 {
  left: 24px;
}
.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.left--25 {
  left: -25px;
}

.bottom-270 {
  bottom: 270px;
}
.bottom-115 {
  bottom: 115px;
}

.bottom-520 {
  bottom: 520px;
}

.bottom-565 {
  bottom: 565px;
}

.bottom-598 {
  bottom: 598px;
}

.bottom-645 {
  bottom: 645px;
}

.bottom-32-percent {
  bottom: 32%;
}

.left--15 {
  left: -15px;
}
.right--15 {
  right: -15px;
}

.line-through {
  text-decoration: line-through;
}

.position-arrow {
  top: 40%;
}

// .text-before:before{
//   content: url('/img/icon-duration.png');
// }
.width-380 {
  width: 380px !important;
}
.width-290 {
  width: 290px !important;
}
.width-340 {
  width: 340px !important;
}

.cursor {
  cursor: pointer;
}
