.ant-drawer-content-wrapper {
  height: 100vh !important;
}
.ant-drawer-header {
  .ant-drawer-title,
  i {
    color: #fff;
  }
  .right-drawer-buttons {
    float: right;
  }
}
.ant-list-item-content {
  width: 100%;
}
.search-flight-filter h1 {
  font-size: 20px;
}
.tc-icon-select.ant-select-dropdown-menu-item {
  font-size: 13px;
}
.flights-bg.search {
  padding: 120px 0;
}
#flights,
#hotels {
  .paddingt {
    padding: 90px 0 150px 0;
  }
  font-family: @font-roboto;
}
#search-page {
  hr {
    height: 1px;
    border: 0;
    background: #ddd;
  }
  .ant-spin {
    padding-top: 30px;
  }
  .why-box {
    text-align: center;
    padding: 40px 40px 60px;
  }
  .flights-sort-tab {
    margin-left: 5px;
    background: #fff;
    border-color: @primary-color;
    &.active {
      background: @primary-color;
      span {
        color: #fff;
      }
    }
  }
}

.show-mobile {
  display: none;
}
.flights-bg {
  background: url(/img/flight-bg.jpg) no-repeat center 10%;
  background-size: cover;
}
.tc-icon-select .tc-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.tc-icon-select.ant-select-dropdown-menu-item {
  padding: 8px 12px;
}
.ant-select-dropdown-menu-item.tc-icon-select.l2 {
  padding-left: 20px;
  background: #f7f7f7;
  margin: 0;
}
.flights-bg.search {
  margin-bottom: -2px;
}
#flights .marginb {
  margin-bottom: 20px;
}

.ant-radio-button-wrapper-checked:first-child,
.ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper-checked:hover {
  border-color: @link-hover-color;
  background: @link-hover-color;
  color: #fff;
}

.ant-radio-group {
  margin-bottom: 10px;
}

#flights .long .ant-select {
  width: 100%;
}

#flights .ant-calendar-picker {
  width: 100%;
}

#flights .options {
  padding: 20px 0;
  text-align: center;
}

.clearfix {
  clear: both;
}

#flights .head {
  height: 50px;
  border-bottom: 0;
  font-weight: bold;
}

#flights .body {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.options .body:nth-child(odd),
.options .icon:nth-child(odd) {
  background: #f3f3f3;
}
#flights .icon {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  padding: 4.5px;
}

.flightno {
  font-weight: bold;
  font-size: 15px;
  color: @link-hover-color;
  margin-bottom: 0;
  display: block;
  border-right: 1px solid #bfc5c2;
  text-align: center;
  padding: 10px 0;
}

.search-flight-filter .details .ant-collapse-content {
  background: #e6f1fd;
}

.search-flight-filter .details.ant-collapse-borderless > .ant-collapse-item {
  border: 0;
}

.search-flight-filter
  .details.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .arrow {
  left: auto;
  right: 10px;
  top: 55%;
}

.search-flight-filter
  .details.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  padding: 12px 40px 12px 0;
}

.search-flight-filter
  .details.ant-collapse-borderless
  > .ant-collapse-item:last-child
  .ant-collapse-header {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  background: @primary-color;
  padding: 8px 30px 8px 20px;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.search-flight-filter
  .details.ant-collapse-borderless
  .ant-collapse-item.ant-collapse-item-active
  .ant-collapse-header {
  color: #fff;
}

#flights .ant-collapse-content-box {
  background: none;
}

.search-flight-filter
  .details.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 10px !important;
  text-align: left;
}

#flights .ant-select .ant-select-arrow {
  background: transparent;
  padding: 0;
  top: 50%;
  right: 11px;
  border-radius: 0;
  color: @link-hover-color;
}

.search-flight-filter .details.ant-collapse-borderless > .ant-collapse-item {
  text-align: right;
}

.search-flight-filter .details p {
  margin: 0 !important;
  color: @text-color;
  padding-left: 15px;
}

.flight-opr-full-name {
  text-align: center;
  background-color: #d5e5f1;
  padding: 5px 15px;
  border-radius: 20px;
  float: right;
  font-size: 12px;
}

.flight-result {
  margin-bottom: 20px;
}
#flights .flight-result {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.flight-result,
.filter-airline {
  font-weight: normal;
}
.filter-airline {
  margin-bottom: 5px;
}
.flight-box {
  background: #333;
}
.fares {
  .ant-popover-inner {
    background-color: #bfbfbf;
  }
  .ant-popover-content > .ant-popover-arrow {
    border-right-color: #bfbfbf;
    border-bottom-color: #bfbfbf;
  }
}
.showFare {
  cursor: pointer;
  display: inline-block;
  margin: 5px 0 0 0;
  color: #fff;
}

.flightinfo.border:first-child {
  border-top: 0;
  padding: 0;
}

.flightinfo {
  color: #666;
  cursor: pointer;
  min-height: 90px;
  padding: 0;
  margin: 20px;
  border-top: 1px solid #cecece;
  padding-top: 20px;
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    color: @primary-color;
    font-weight: bold;
  }
  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
    background: #fbecd2;
    padding: 10px 0;
  }
  .ant-collapse-item,
  .ant-collapse > .ant-collapse-item > .ant-collapse-header,
  .ant-collapse-content-box {
    padding: 0;
    border: 0;
    margin: 0;
    p {
      margin: 0;
    }
  }
}

.flightinfo img {
  margin-right: 10px;
}

ul.timing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 0 10px;
  text-align: center;
  line-height: normal;
  list-style-type: none;
}

.timing li {
  float: left;
  vertical-align: top;
  width: 50px;
  position: relative;
}

.timing .long {
  width: 25%;
  text-align: left;
}

.timing .long2 {
  width: 45%;
  h2 {
    text-align: center;
  }
}
.timing .long:nth-of-type(2) {
  padding-left: 20px;
}
.timing li:nth-child(1):after,
.timing li:nth-child(2):after {
  content: url(/img/arrow-right-round.png);
  position: absolute;
  font-size: 24px;
  top: 14%;
  right: 0;
  color: #b3b1b1;
  z-index: 999;
}
.timing li:nth-child(2):after {
  right: 5%;
}
.timing h6,
.timing h2 {
  margin: 0;
  letter-spacing: 0;
}

.timing h6 {
  color: #333333;
  font-size: 13px;
  font-weight: normal;
}

.timing h2 {
  strong {
    color: @link-hover-color;
  }
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
  text-align: left;
}

.details {
  padding: 4px 0;
  .ant-collapse-header {
    .arrow,
    .ant-collapse-arrow {
      left: auto !important;
      right: 10px !important;
      top: 55% !important;
      margin: 0 !important;
    }
  }
}

.stop-num {
  text-align: center;
}

.direct {
  display: block;
}

.price-wrap {
  color: #fff;
  padding: 25px;
  min-height: 200px;
  background: #333;
}

h2.total-price {
  font-family: @font-family;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  letter-spacing: 0;
  span {
    font-size: 0.8em;
  }
}

.tax {
  margin-top: 0;
  font-style: italic;
  font-size: 12px;
}

.price-wrap a {
  color: #efa69f;
  font-size: 13px;
  font-style: normal;
}

.price-wrap .select,
.price-wrap .ant-btn-primary[disabled] {
  background: transparent !important;
  border: 0;
  border-radius: 0;
  border-top: 1px solid #fff;
  font-size: 15px;
  padding: 15px 10px 0 0;
  margin: 10px 0;
  text-align: left;
  color: #fff;
  display: block;
  width: 80%;
  position: absolute;
  bottom: 5px;
}

.price-wrap .ant-btn-primary[disabled] {
  border-top: 1px solid #666;
  color: #666;
}

.price-wrap .select i {
  float: right;
}

.price-wrap .select:hover {
  border-top: 1px solid #fff;
  color: #eee;
}

.price-wrap p {
  margin: 15px 0;
}

.showFare {
  cursor: pointer;
  display: inline-block;
  margin: 5px 0 0 0;
  color: #fff;
}
.options {
  padding: 0 20px 20px;
  .ant-collapse-header {
    text-align: left;
  }
  .ant-collapse {
    width: 100%;
  }
  .ant-collapse-item {
    border: 0;
  }
  .ant-collapse-content-box {
    padding: 0;
  }
}
.options h1 {
  font-size: 18px;
  margin: 0;
  color: @link-hover-color;
}
.options .col {
  display: block;
  width: 200px;
  margin: 0px 10px;
}

.options .col-details {
  min-width: 200px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  margin: 10px 6px;
  display: block;
  float: left;

  &:first-child {
    border: none;
  }
  .price {
    font-size: 20px;
  }
  .head {
    background: @link-hover-color;
    font-size: 14px;
    padding: 10px 15px;
    line-height: normal;
    font-weight: bold;
    color: #fff;
  }

  .body {
    padding: 15px 0;
    font-size: 14px;
  }
  .icon {
    padding: 10.5px;
    font-size: 20px;
  }
  .body,
  .icon {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    &:last-child {
      border: none;
    }
  }
}
.fares-breakdown {
  text-align: center;
}
.options .col-price {
  height: 110px;
  text-align: center;
  padding: 15px;

  .ant-btn {
    display: inline-block;
    border-radius: 3px;
    line-height: normal;
    border: none;
    padding: 8px 35px;
    margin: 5px 0 0;
    border-radius: 20px;
    text-transform: uppercase;
  }
}

.flight-result .options .list {
  display: flex;
  justify-content: left;
  text-align: center;
  overflow-x: scroll;
}

.options .space {
  height: 112px;
  line-height: 122px;
  font-size: 20px;
  color: rgb(102, 102, 102);
  text-align: center;
}

#flights {
  .pre-cal.dates .ant-calendar-picker {
    width: 41% !important;
  }
  .ant-menu-submenu-title .anticon + span {
    font-weight: bold;
  }

  .ant-menu-root {
    border-left: 1px solid #e8e8e8;
    border-right: 0;
  }

  .ant-menu-item:after {
    left: 0;
    border-left: 3px solid @link-hover-color;
    border-right: 0;
  }

  .ant-menu-item-selected {
    font-weight: bold;
  }

  .ant-select-selection {
    min-width: 70px;
  }

  small {
    display: block;
  }

  .ant-select {
    width: 100%;
  }

  .ant-radio-wrapper {
    margin-bottom: 20px;
  }

  .slider-bar {
    margin: 10px 20px 0 30px;
  }

  .ant-slider-with-marks {
    margin-bottom: 18px;
  }
}

#flight-search-vertical .ant-calendar-picker {
  min-width: 200px;
}
/*-- Flight Search Filter --*/
.search-flight-filter {
  background: #f6f6f6;
  padding: 0;
  #no-result {
    .ant-spin {
      padding-top: 20px;
    }
    h1 {
      margin: 0 0 20px 0;
    }
  }
  #results-box {
    padding: 20px 0;
    min-height: 60px;
    #sort-btn {
      display: inline-flex;
      margin: 0 0 10px;
      button {
        background: #bfbfbf;
        border: 0;
        margin: 0 5px 0;
        font-size: 14px;
        &.active {
          background: @link-hover-color;
          color: #fff;
        }
        &::first-child {
          margin: 0;
        }
      }
    }
  }
  .wrap {
    padding: 0px;
    margin: 0 auto;
  }
  .filter-sec {
    padding: 10px 20px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 4px;
    span,
    .text-right {
      font-size: 15px;
    }
    .ant-checkbox-wrapper {
      color: #333;
    }
    .ant-slider {
      margin-top: 8px;
    }
    .ant-radio-group {
      width: 100%;
      .ant-radio-button-wrapper {
        vertical-align: middle;
        font-size: 14px;
        padding: 6px 0;
        line-height: normal;
        height: auto;
        width: 33%;
        text-align: center;
      }
    }
    .search-field {
      padding: 10px 0;
      position: relative;
      width: 100%;
      .anticon.anticon-swap {
        position: absolute;
        transform: rotate(91deg);
        z-index: 99;
        cursor: pointer;
        bottom: -30px;
        margin: 0 auto;
        width: 30px;
        left: 0;
        right: 0;
      }
      .ant-btn {
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        padding: 8px 40px;
        outline: 0;
        &:hover,
        &:focus {
          border-color: #999;
        }
      }
      .ant-select-dropdown {
        .ant-select-dropdown-menu-item-selected {
          font-weight: normal;
        }
      }
      .field-title {
        font-weight: 500;
        font-size: 14px;
      }
    }
    h3 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 15px;
      color: @link-hover-color;
      margin: 5px 0;
    }
    p {
      margin: 0;
    }
    .ant-checkbox-wrapper {
      font-size: 14px;
    }
    .show-value {
      border: none;
      padding: 0;
      height: auto;
      line-height: normal;
      text-align: right;
      border: none;
      outline: 0;
      width: 20px;
      display: inline-block;
      &:hover,
      &:focus {
        border: none;
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
.travel-banner {
  min-height: 200px;
  img {
    width: 100%;
  }
}
.flight-search-result {
  padding: 0;
  background: transparent;
  margin: 5px 0 10px;
  a {
    color: @link-hover-color;
  }
  .ant-table {
    margin-bottom: 0;
  }
  .ant-table-layout-fixed table {
    table-layout: unset;
  }
  .all-airlines {
    background: #ffffff;
    .ant-table-content tr th {
      background: #ffffff;
    }
    .ant-table-tbody > tr > td {
      background: #ffffff;
      font-weight: 600;
      min-width: 100px;
      overflow-wrap: normal;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .scroll-div {
    overflow-x: auto !important;
    table {
      tr {
        th:nth-child(n + 6),
        td:nth-child(n + 6) {
          display: none;
        }
      }
    }
  }
}

.filter-result-section {
  margin: 5px 0;
  background: #ffffff;
  padding: 0;
  border: 1px solid #ddd;
  .travel-fair {
    height: 100%;
    background: #333333;
    padding: 25px 15px 10px;
    position: relative;
    .fair-info {
      font-size: 20px;
      color: #ffffff;
      font-weight: 600;
      text-align: left;
      line-height: normal;
      margin: 0;
      span {
        display: block;
        font-size: 14px;
        font-weight: normal;
      }
    }

    .query-and-info {
      padding: 15px 0;
      .hasinfo {
        color: #ffffff !important;
        cursor: pointer;
        &:hover {
          color: #f9eee3 !important;
        }
      }
      p {
        margin: 0;
        padding: 4px 0;
        line-height: normal;
        color: #ffffff !important;
      }
    }
    .sel-deal {
      position: absolute;
      left: 0;
      bottom: 2px;
      display: block;
      width: 98%;
      border-radius: 0;
      outline: 0;
      margin: 0 auto;
      right: 0;
      text-align: left;
      background: none;
      border: 0;
      padding: 15px 15px 10px;
      border-top: 1px solid rgb(179, 177, 177);
      font-size: 18px;
      line-height: 1;
      color: #f9eee3;
      text-transform: uppercase;
      height: auto;
      .flt-rgt {
        float: right;
      }
      &:hover {
        color: #999;
      }
      &:focus {
        outline: 0;
      }
      .anticon {
        float: right;
      }
    }
  }
}
.rules-and-tc {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 4px 15px;
      color: #ffffff;
      font-size: 14px;
      background: #fd7d00;
      margin-right: 1px;
      cursor: pointer;
      &:hover,
      &.active {
        background: #003478;
      }
    }
  }
}
.ant-modal {
  z-index: 99999 !important;
}
.ant-modal.ant-modal-header {
  text-align: left;
}
.ant-select-dropdown-menu-item {
  white-space: initial;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.ant-modal-body {
  padding: 15px !important;
}
.deallist-res {
  .ant-modal-body {
    padding: 15px !important;
    overflow: scroll;
    width: 100%;
    min-width: 100%;
  }
}
.ant-drawer-header {
  background: @link-hover-color;
  border-radius: 0;
}

.ant-drawer-open .ant-drawer-wrapper-body .ant-drawer-body {
  height: 100vh;
  background: #fff;
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 10px 12px 10px 40px;
  }
}
#filter-desktop {
  margin-top: 5px;
  .ant-collapse > .ant-collapse-item {
    padding: 15px 0px !important;
  }
}
#filter-desktop{
  .ant-collapse{
    background: none;
  }
  .ant-collapse-arrow{
    right: 0;
  }
  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box{
    padding: 0 5px;
  }
}

#filter-mobile {
  background: @link-hover-color;
  color: #fff;
  display: block;
  border-radius: 20px;
  margin: 20px auto 0;
}
@media (max-width: @screen-lg) {
  #flights.search,
  #hotels.search {
    .grey-box .customsearch fieldset {
      .ant-select-selection,
      .ant-calendar-picker .ant-input,
      p {
        color: @text-color;
      }
    }
  }
  .search-flight-filter #results-box #sort-btn button {
    font-size: 13px;
  }
  h2.total-price {
    text-align: center;
  }
  #flights,
  #hotels {
    .ant-calendar-picker,
    .ant-select,
    .long .ant-select,
    .long .ant-calendar-picker {
      width: 100%;
    }

    .anticon {
      display: none;
    }

    .marginb {
      margin: 0;
    }

    .visible-lg {
      display: none;
    }

    .flight-result .ant-btn {
      width: 100%;
    }
    ul.timing {
      margin: 0;
      padding: 0;
    }
    .timing .long {
      width: 22%;
    }

    .timing li {
      text-align: center;
    }

    .timing h2 {
      font-size: 15px;
      margin: 0;
    }

    .flight-result .anticon {
      display: inline;
    }

    .flight-result .ant-collapse-content > .ant-collapse-content-box {
      text-align: center !important;
    }

    .flightinfo .ant-row {
      text-align: center;
    }

    .price-wrap {
      min-height: 100%;
    }

    .price-wrap .select,
    .price-wrap .ant-btn-primary[disabled] {
      margin: 10px 0 0;
      position: relative;
      bottom: 0;
      border-top: 1px solid #fff;
    }

    .options {
      display: block;
      overflow: auto;
    }

    .options {
      display: inline-flex;
    }
    .flight-opr-full-name {
      float: none;
      margin: 10px 0;
      display: inline-block;
    }
  }
  .filter-result-section .travel-fair .sel-deal {
    position: relative;
    padding-bottom: 0;
  }
  
  #filter-mobile {
    display: block;
  }
  .ant-drawer-body {
    padding: 0;
    overflow: scroll;
  }
  #sort-btn {
    text-align: center;
  }
  .flightinfo
    .ant-collapse-borderless
    > .ant-collapse-item
    > .ant-collapse-content {
    padding: 10px;
  }
   #search-page .flights-sort-tab{
    height: 27px;
  }
}

@media (max-width: @screen-md) {
  #search-page .flights-sort-tab{
    margin-left: 0;
    height: 27px;
  }
  #search-page .why-box {
    padding-bottom: 0;
  }
  #flights.search
    .grey-box
    .customsearch
    fieldset
    .ant-select-selection-selected-value,
  #home
    .search
    .grey-box
    .customsearch
    fieldset
    .ant-select-selection-selected-value,
  #flights.search .grey-box .customsearch fieldset p {
    font-size: 15px !important;
  }
  .flight-result {
    text-align: center;
    h1 {
      font-size: 1.2em !important;
    }
  }

  .flight-opr-full-name {
    text-align: center;
    float: none;
    margin: 10px auto 0;
    display: inline-block;
  }
  #search-page .timing .long,
  #search-page .timing .long2,
  #search-page .timing li {
    width: 100%;
    float: none;
  }
  .timing h6,
  .timing h2 {
    text-align: center;
  }
  .flightinfo .timing img {
    display: none;
  }
  .flightno {
    border-right: 0;
    padding: 0;
  }
  #flights .timing h2 {
    font-size: 16px;
  }
  .search-flight-filter
    .details.ant-collapse-borderless
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    text-align: center;
  }
  .search-flight-filter .details.ant-collapse-borderless > .ant-collapse-item {
    text-align: center;
    margin: 0;
  }
  .details {
    padding: 0;
  }
  .timing li:nth-child(1):after,
  .timing li:nth-child(2):after {
    display: none;
  }
  .filter-result-section .travel-fair {
    padding: 20px 20px 10px;#filter-desktop {
    display: none;
  }
    h1 {
      font-size: 24px;
    }
  }
  #flights.search,
  #hotels.search,
  #home .search {
    .grey-box .customsearch fieldset::after,
    .grey-box .customsearch fieldset::after {
      background: transparent;
    }
    .grey-box .customsearch fieldset {
      margin-left: 10px !important;
      padding: 5px 0 0 40px !important;
      border-bottom: 1px solid #ddd;
      &.pre-guest {
        border-bottom: 0;
      }
    }
  }
  #flights.search .grey-box .customsearch .selmultiguest .sel-rm-guest {
    left: auto !important;
  }
  #flights .paddingt,
  #hotels .paddingt {
    padding: 30px 0 50px 0;
    h2 {
      font-size: 2em;
    }
  }
}
@media (max-width: @screen-sm) {
  .timing li:nth-child(1):after,
  .timing li:nth-child(2):after {
    display: none;
  }
}
@media (max-width: @screen-xs) {
  .depart-and-arrival {
    li {
      border-bottom: 1px solid #333333;
    }
  }
}

#flights {
  .banner-slider {
    position: relative;
    .banner-img {
      min-height: 450px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .banner-centered-text {
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -25%);
      z-index: 1;
      padding: 25px 50px;
      // min-width: 244px;
      background: rgba(0, 0, 0, 0.33);
      text-align: center;
      h3 {
        font-size: 36px;
        color: #ffffff;
        font-family: "DancingScript-Regular";
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  > .flights-search {
    position: relative;
    top: -150px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: #888888 0px 4px 12px 0px;
    padding: 40px;
    @media (max-width: 440px) {
      padding: 10px !important;
    }

    .ant-radio-group {
      background: #fff;
      border-radius: 50px;
      padding: 0 30px;

      .ant-radio-button-wrapper {
        padding: 0 30px;
        background: #fff;
        border-radius: 50px;
        margin: 0 20px;
        border: none;
      }

      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        outline: none;
      }

      .ant-radio-button-wrapper-checked:first-child,
      .ant-radio-button-wrapper-checked,
      .ant-radio-button-wrapper-checked:hover {
        border-color: @link-hover-color;
        background: @link-hover-color;
        color: #fff;
      }
    }

    .ant-select-selection {
      // border: none;
      box-shadow: none;
    }
  }
  .upper-flight-search {
    padding-bottom: 20px;
    .ant-select-selection {
      border: none;
      font-family: @font-roboto-bold;
    }
    .ant-select-arrow {
      pointer-events: none;
    }
  }
  .lower-flight-search {
    .ant-select-selection--single {
      height: 45px;
      padding: 6px;
      border-radius: 3px;
      min-width: 140px;
    }

    .from-input {
      .ant-select-selection--single:before {
        content: "From";
        position: absolute;
        top: 11px;
        left: 11px;
      }
      .ant-select-selection__rendered {
        margin-left: 50px;
      }
    }
    .to-input {
      .ant-select-selection--single:before {
        content: "To";
        position: absolute;
        top: 11px;
        left: 11px;
      }
      .ant-select-selection__rendered {
        margin-left: 40px;
      }
    }
    .ant-select-selection-selected-value {
      background: @primary-color;
      color: #fff;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 3px;
    }

    .custom-date-picker {
      // margin-top: 15px;
      // margin-bottom: 15px;
      display: flex;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding-right: 5px;
      .label {
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 6px;
      }
      .ant-calendar-picker {
        > div > i.anticon {
          display: none;
        }
        width: 140px;
        .ant-calendar-picker-input {
          // color: #fff;
          // background: #006f97;
          color: #000;
          border: none;
          height: 27px;
          border-radius: 3px;
          margin: 8px 8px;
        }
        .ant-input {
          width: 91%;
        }
      }
    }
  }
}
.custom-dropdown-select {
  visibility: hidden;
  display: none;
}
@media(max-width: 991px){
  #flights{
    #filter-desktop {
      display: none;
    }
    .ant-btn{
      width: 100%;
      display: block;
    }
  }
  
}
