
.flights-content {
  .flights-content {
    .flights-title {
      font-size: 36px;
      font-weight: 700;
      font-family: @font-primary;
      font-style: normal;
      color: #000000;
    }

    .flights-desc {
      color: #000000;
      font-size: 16px;
      line-height: 24px;
      font-family: @font-roboto-light;
      font-weight: 300;
      font-style: normal;
      strong {
        font-family: 'Roboto-Regular';
        font-weight: 700;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .flights-carousel-wrap {
    padding: 20px 40px;
    .ant-carousel {
      padding: 20px 0px;
    }

    .flights-carousel-item {
      img {
        max-width: 100%;
        padding: 20px;
      }
    }

    .ant-carousel .slick-arrow .anticon {
      color: #a1a1a1;
      &:hover {
        color: #000000;
      }
    }

    .ant-carousel .slick-prev {
      left: -40px;
    }

    .ant-carousel .slick-next {
      right: -40px;
    }
  }

	.booking-section {
		font-family: @font-roboto-light;
	    font-size: 16px;
	    color: #000000;  
		padding: 60px 0px;
		h4 {
		font-size: 20px;
	    font-weight: 700;
	    font-family: @font-primary;
	    font-style: normal;
	    color: #000000;
		text-align: center;
		margin-bottom: 60px;
		}
		.book-info {
			text-align: center;
			margin: 10px 0px 20px 0px;
			.book-info-img {
				height: 50px;
				margin-bottom: 0px;
			}
			.book-info-title {
				display: block;
				color: #3abfef;
				margin: 5px 0px;
				font-weight: 700;
			}
		}
	}
	
}
