// Banner
.home-banner{
  margin: 0 30px;
  position: relative;
  .banner-title-section{
    position: absolute;
    // width: 401px;
    height: 364px;
    background-color: #ffffff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2{
      font-size: 42px;
      color: #22201d;
      font-family: @font-extrabold;
      text-align: center;
    }
    h6{
      font-size: 24px;
      letter-spacing: 1.2px;
      color: #cba567;
      font-family: @font-chinese;
    }
  }
}
.latest-moments{
  padding: 46px 15px;
  h3{
    font-size: 30px;
    font-family: @font-extrabold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000000;
  }
  h5{
    font-size: 20px;
    font-family: @font-chinese;
    letter-spacing: 1px;
    color: #cba567;
    margin-bottom: 28px;
  }
  .latest-slide{
    padding: 0 18px;
    .latest-slide-img{
      border-radius: 10px;
    }
    h4{
      padding-top: 20px;
      font-size: 16px;
      font-family: @font-bold;
      color: #000000;
      margin-bottom: 5px;
    }
    h6{
      line-height: 24px;
      font-size: 13px;
      color: #888888;
      font-family: @font-primary;
    }
  }
  // .ant-carousel .slick-arrow:hover, 
  // .ant-carousel .slick-arrow:focus, 
  // .ant-carousel .slick-arrow:active {
  //   color: #cba567;
  // }
  .ant-carousel{
    .slick-arrow{
      border-radius: 50%;
      color: #cba567;
      background: #ffffff;
    }
    .slick-prev{
      top: 35%;
      left: -4%;
    }
    .slick-next{
      top: 35%;
      right: -4%;
    }
  }
}
.featured-tours{
  background-image: url(/img/feature-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // height: 500px;
  h3{
    font-size: 30px;
    font-family: @font-extrabold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000000;
  }
  h5{
    font-size: 20px;
    font-family: @font-chinese;
    letter-spacing: 1px;
    color: #cba567;
  }
  .country-tabs{
    padding: 20px 15px 60px;
    .ant-tabs{
      padding-bottom: 30px;
    }
    .ant-tabs-nav-container{
      text-align: center;
    }
    .ant-tabs-tab{
      font-size: 18px;
      font-weight: bold;
      font-family: @font-bold;
      color: #000000;
    }
    .ant-tabs-tab:first-child{
      margin-right: 20px !important;
    }
    .ant-tabs-tab:last-child{
      margin-left: 20px !important;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
      background: none;
      border: none;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
      color: #fff;
      background-color: #ffc000;
      border-color: #ffc000;
      border-radius: 7px;
    }
    .ant-tabs-bar{
      border-bottom: none;
    }
    .ant-tabs-ink-bar{
      display: none !important;
    }
    .ant-carousel .slick-dots{
      bottom: -40px;
      li{
        width: 14px;
        height: 14px;
        button{
          background: #cccccc;
        }
      }
      .slick-active{
        button{
          background: #ffc000;
        }
      }
    }
  }
}
.tiktok-banner{
  background-image: url(/img/feature-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .tiktok-banner-content{
    padding: 60px 0;
  }
  .tiktok-banner-first-slide{
    margin: 15px 15px 15px 30px;
  }
  .tiktok-banner-sec-slide{
    margin: 15px 30px 15px 15px;
  }
  @media(max-width: 991px){
    .tiktok-banner-first-slide{
      margin: 15px 30px;
    }
    .tiktok-banner-sec-slide{
      margin: 15px 30px;
    }
  }
  .tiktok-label-icon{
    position: absolute;
    bottom: -18px;
    right: 12px;
    @media(max-width: 430px){
      width: 85px; 
      bottom: -10px;
    }
  }
  .tiktok-title-section{
    padding-top: 30px;
    padding-left: 30px;
    h6{
      color: #ff0051;
      font-size: 15px;
      font-family: @font-bold;
      font-weight: 700;
      text-decoration: underline;
    }
    h1{
      font-size: 24px;
      font-family: @font-bold;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    h4{
      font-size: 18px;
      font-family: @font-chinese;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    a{
      padding: 7px 36px;
      color: #ffffff;
      background-color: #cba567;
      font-size: 15px;
      font-family: @font-primary;
      border-radius: 7px;
      &:hover{
        background-color: #ffc000;
      }
    }
    @media(max-width: 630px){
      padding-left: 0;
    }
    @media(max-width: 576px){
      h6{
        font-size: 10px;
      }
      h1{
        font-size: 14px;
      }
      h4{
        font-size: 12px;
      }
      a{
        padding: 7px 27px;
      }
    }
  }
}
.all-about-trips{
  padding: 60px 15px;
  border-bottom: 1px solid #cccccc;
  border-bottom-style: dotted;
  .why-choose-us{ 
    margin-right: 30px;
    h3{
      font-size: 30px;
      font-family: @font-extrabold;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #000000;
      margin-right: 42px;
    }
    h5{
      font-size: 20px;
      font-family: @font-chinese;
      letter-spacing: 1px; 
      color: #cba567;
      margin-bottom: 28px;
    }
    p{
      font-size: 15px;
      color: #666666;
      line-height: 26px;
      font-family: @font-primary;
      margin-right: 45px;
      padding-bottom: 30px;
    }
  }
  .why-choose-us-btn{
    a{
      border: 2px solid #cba567;
      background-color: #ffffff;
      color: #cba567;
      padding: 15px 33px;
      font-family: @font-extrabold;
      font-size: 16px;
    }
  }
  a:hover{
    background-color: #ffc000;
    color: #ffffff;
    border: 2px solid #ffc000;
  }
  .korea-and-japan{
    text-align: center;
    .border{
      border-radius: 15px;
      margin: 8px 15px;
      @media(max-width: 575px){
        margin: 10px 0px;
      }
    }
    .trip-img{
      border-radius: 15px;
    }
    .trip-label{
      margin-bottom: 12px;
      font-size: 16px;
      color: #000000;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      .trip-label-quote{ 
        font-family: @font-bold;
      }
      .trip-label-chinese{
        font-family: @font-chinese;
      }
      .trip-label-arrow{
        font-family: @font-poppins;
      }
    }
  }
  .border {
    display: block;
    position: relative;
    border-radius: 15px;
    &::before {
      content: "";
      width: 0;
      height: 4px;
      position: absolute;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: @primary-color;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  
    &::after {
      content: "";
      width: 0;
      height: 4px;
      position: absolute;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: @primary-color;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      border-radius: 0;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &:hover {
      &::before {
        width: 100%;
      }
  
      &::after {
        width: 100%;
      }
  
      .card {
        &::before {
          height: 100%;
        }
  
        &::after {
          height: 100%;
        }
      }
    }
    }
    .trip-img:before {
      content: "";
      width: 4px;
      height: 0;
      position: absolute;
      transition: all 0.3s linear;
      background: @primary-color;
      top: -1px;
      left: -1px;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  
    .trip-img:after {
      content: "";
      width: 4px;
      height: 0;
      position: absolute;
      transition: all 0.3s linear;
      background: @primary-color;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      border-radius: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    } 
    .border:hover .trip-img:before {
      height: 100%;
    }
    .border:hover .trip-img:after {
      height: 100%;
    }
    a:hover .trip-label{
        color: #ffc000;
      }
}
.hover-effect{
  a{
    .trip-img{
      border: 3px solid #ffc000;
      
    }
    .trip-label{
      color: #ffc000 !important;
    }
  }
}

.news-and-happenings{
  padding: 60px 15px;
  border-bottom: 1px solid #cccccc;
  border-bottom-style: dotted;
  h3{
    font-size: 30px;
    font-family: @font-extrabold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000000;
  }
  h5{
    font-size: 20px;
    font-family: @font-chinese;
    letter-spacing: 1px;
    color: #cba567;
    margin-bottom: 28px;
  }
  .view-all-articles{
    padding-top: 50px;
    padding-bottom: 10px;
    a{
      border: 2px solid #cba567;
      background-color: #ffffff;
      color: #cba567;
      padding: 15px 33px;
      font-family: @font-extrabold;
      font-size: 16px;
    }
    a:hover{
      background-color: #ffc000;
      color: #ffffff;
      border: 2px solid #ffc000;
    }
  }
  .blog-card{
    padding: 15px;
    .blog-img{
      border-radius: 10px;
      border: 1px solid #cccccc;
    }
    .blog-title{
      text-align: left;
      padding-left: 12px;
      padding-right: 25px;
      
      h6{
        color: #cba567;
        font-size: 13px;
        font-family: @font-primary;
        padding-top: 18px;
      }
      h4{
        font-size: 16px;
        font-family: @font-bold;
        color: #000000;
        font-family: @font-bold;
      }
    }
  }
  .border {
    display: block;
    position: relative;
    border-radius: 10px;
    &::before {
      content: "";
      width: 0;
      height: 4px;
      position: absolute;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: @link-hover-color;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    &::after {
      content: "";
      width: 0;
      height: 4px;
      position: absolute;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: @primary-color;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      border-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .slick-slide {
      padding: 0 10px;
    }
    &:hover {
      &::before {
        width: 100%;
      }
  
      &::after {
        width: 100%;
      }
  
      .card {
        &::before {
          height: 100%;
        }
  
        &::after {
          height: 100%;
        }
      }
    }
  }
  .blog-img:before {
    content: "";
    width: 4px;
    height: 0;
    position: absolute;
    transition: all 0.3s linear;
    background: @primary-color;
    top: -1px;
    left: -1px;
    box-sizing: border-box;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .blog-img:after {
    content: "";
    width: 4px;
    height: 0;
    position: absolute;
    transition: all 0.3s linear;
    background: @primary-color;
    box-sizing: border-box;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } 
  .border:hover .blog-img:before {
    height: 100%;
  }
  .border:hover .blog-img:after {
    height: 100%;
  }
}

#reviews{
  padding: 60px 30px;
  h3{
    font-size: 30px;
    font-family: @font-extrabold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000000;
  }
  h5{
    font-size: 20px;
    font-family: @font-chinese;
    letter-spacing: 1px;
    color: #cba567;
    margin-bottom: 28px;
  }
  .review-author-img {
    text-align: center;
    padding-right: 20px;
    img{
      width: 55px;
      height: 55px;
    }
  }
  .review-card{
    background-color: #f7f7f7;
    padding: 34px;
    margin: 15px;
    height: 300px;
  }
  .review-author-name{
    font-size: 18px;
    font-family: @font-semibold;
    color: #000000;
    margin-top:5px;
    margin-bottom: 3px;
  }
  .review-date{
    font-size: 13px;
    font-family: @font-primary;
    color: #cba567;
  }
  .review-stars{
    padding: 20px 0 10px;
  }
  .anticon-star{
    color: #ffc000;
    font-size: 20px;
  }
  .review-text{
    font-size: 15px;
    color: #666666;
    line-height: 26px;
    font-family: @font-primary;
  }
  .ant-carousel{
    .slick-arrow{
      border-radius: 50%;
      color: #cba567;
      background: #ffffff;
    }
    .slick-prev{
      top: 45%;
      left: -4%;
    }
    .slick-next{
      top: 45%;
      right: -4%;
    }
  }
  .view-all-reviews{
    padding-top: 50px;
    padding-bottom: 10px;
    a{
      border: 2px solid #cba567;
      background-color: #ffffff;
      color: #cba567;
      padding: 15px 33px;
      font-family: @font-extrabold;
      font-size: 16px;
    }
    a:hover{
      background-color: #ffc000;
      color: #ffffff;
      border: 2px solid #ffc000;
    }
  }
}
@media(max-width:991px){
  .all-about-trips {
    .why-choose-us{ 
      margin-bottom: 40px;
    }
  }
}
@media(max-width: 1440px){
  .all-about-trips{
    padding-left: 30px !important;
  }
  .latest-moments{
    .ant-carousel {
      .slick-prev {
        left: -1%;
      }
      .slick-next {
        right: -1%;
      }
    }
  }
  #reviews{
    .ant-carousel{
      .slick-prev{
        left: -1%;
      }
      .slick-next{
        right: -1%;
      }
  }
}
}


