.hotels-bg.search,
.flights-bg.search {
  padding: 120px 0;
}
.pre-cal.dates .ant-calendar-picker {
  width: 41% !important;
  display: inline-block;
  vertical-align: middle;
}
.pre-cal.dates .center input {
  text-align: center !important;
}

.hotels-bg,
.flights-bg {
  background-size: cover;
}

.show-mobile {
  display: none;
}

.filter-hotel,
.ant-drawer-body {
  margin-top: 20px;
  .ant-form-item-label label {
    color: @primary-color;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
  }
  .ant-checkbox-wrapper {
    width: 100%;
  }
  .ant-form-item-children span {
    display: inline-block;
    vertical-align: top;
    &:last-of-type {
      max-width: 85%;
      margin: 0;
      padding: 0;
      color: #666;
      line-height: 1.2;
    }
    .ant-form-item label {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .ant-checkbox {
    width: 20px;
    margin: 2px 2px 0;
  }
}

.ant-drawer-wrapper-body {
  height: 100%;
  overflow: auto;
  .ant-btn {
    display: block;
    width: 100%;
  }
}
.ant-drawer-content-wrapper {
  height: 100vh !important;
}
.ant-drawer-header {
  .ant-drawer-title,
  i {
    color: #fff;
  }
  .ant-drawer-title {
    font-size: 1.1em;
  }
  .right-drawer-buttons {
    float: right;
  }
}
.ant-drawer-header {
  background: @link-hover-color;
  border-radius: 0;
}
.ant-drawer-body {
  margin: 0;
  overflow: auto;
  .ant-form-item-label {
    margin: 20px 0 0 0;
    padding: 0;
  }
  .ant-form-item {
    margin: 0;
  }
  .ant-form-item-control {
    margin-right: 20px;
  }
  .ant-form-item-control-wrapper {
    margin-right: 20px;
  }
}
.ant-drawer-open .ant-drawer-wrapper-body .ant-drawer-body {
  height: 100vh;
  background: #fff;
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 10px 12px 10px 40px;
  }
}
.drawer-filter .ant-drawer-body {
  padding-top: 0;
}
#filter-desktop {
  margin-top: 5px;
  .price-drag {
    margin: 0 20px 0 0;
  }
}

#filter-mobile {
  background: #e8e8e8;
  color: @text-color;
  margin: 30px auto 20px;
  display: block;
  border-radius: 10px;
}

#filter-desktop .ant-collapse-header {
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 15px !important;
  color: @primary-color !important;
  margin-bottom: 20px;
}

.vertical-checkboxes,
.vertical-radios {
  display: block;
  width: 100%;
  .ant-checkbox-group-item,
  .ant-radio-wrapper {
    display: block;
    margin-right: 0;
    position: relative;
  }
  .ant-checkbox,
  .ant-radio {
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  .ant-checkbox-inner,
  .ant-radio-checked .ant-radio-inner {
    &::after {
      left: 29%;
    }
  }
  .ant-checkbox + span,
  .ant-radio + span {
    padding-right: 0;
    padding-left: 32px;
    display: block;
    margin-bottom: 5px;
  }
}

#hotels {
  font-family: @font-roboto;
  &.search .wrap {
    max-width: 1240px;
    padding: 0;
  }
  .result {
    margin-bottom: 30px;
  }
}

.hotels-bg {
  background: url(/img/pegasus-travel-fullerton-leisure-hotels.jpg) no-repeat
    top left;
  background-size: cover;
}
.hotels-bg.search,
.flights-bg.search {
  padding: 120px 0;
}
.pre-cal.dates .ant-calendar-picker {
  width: 41% !important;
  display: inline-block;
  vertical-align: middle;
}
.pre-cal.dates .center input {
  text-align: center !important;
}
.hotels-bg,
.flights-bg {
  background-size: cover;
}
.hotels-bg {
  background: url(/img/pegasus-travel-fullerton-leisure-hotels.jpg) no-repeat
    center left;
}

#hotels-search {
  .ant-typography del {
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    margin-right: 10px;
    color: #6d6d6d;
    vertical-align: text-top;
  }
  #tours h1 {
    margin: 40px 0 10px;
  }
  .more {
    margin: 0 0 30px 0;
    // .ant-btn {
    //   background: @text-color;
    // }
  }
}
#hotelbeds-result {
  margin-top: 30px;
  .right {
    text-align: right;
  }
  .ant-tabs-content {
    .right.book {
      color: @text-color;
    }
    .ant-statistic {
      display: inline-block;
      .ant-statistic-content,
      .ant-statistic-content-suffix {
        color: @link-hover-color;
        margin-left: 5px;
      }
    }
  }
  .room-row {
    padding: 10px 10px 0;
    &:nth-child(odd) {
      background: #f5f5f5;
    }
    .ant-tag {
      padding: 2px 8px 3px;
      margin: 5px 2px 5px;
    }
    .ant-collapse {
      background: none;
      .ant-collapse-content-box {
        margin-top: 5px;
      }
      ul,
      ol {
        padding: 0 0 0 20px;
      }
      li {
        padding: 2px 0;
        font-size: 0.9em;
        line-height: 1;
      }
    }
    .ant-collapse-borderless > .ant-collapse-item {
      border: 0;
      background: transparent;
      padding: 0;
      margin: 0;
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
      }
    }
    .type-row {
      border-bottom: 1px solid #ddd;
      padding: 10px 0 15px 35px;
      button.ant-btn {
        font-family: @font-family;
        font-weight: bold;
        min-width: 180px;
        height: auto;
        line-height: initial;
        font-size: 1.2em;
        padding: 10px;
        sup {
          text-transform: initial;
          font-weight: normal;
        }
      }
      &:last-of-type {
        border: 0;
      }
      h5 {
        color: @link-hover-color;
        margin: 0;
        font-weight: bold;
        font-size: 1em;
      }
      .price-info {
        b {
          color: @primary-color;
        }
        &,
        li {
          color: @link-hover-color;
        }
      }
    }
  }
  .ant-list-item {
    border-bottom: 0;
  }
  .hotel {
    width: 100%;
    background-color: #f0f5fb;
    border: 1px solid #f7dfe3;
    .gallery {
      .ant-list-item {
        margin: 0;
      }
      .ant-tabs-bar {
        margin: 0;
      }
      .gallery-pic {
        height: 70px;
        width: 100%;
        background-size: cover;
        display: inline-block;
        background-position: center center;
      }
    }
    // .ant-tabs-bar {
    //   margin: 0 0 25px 0;
    // }
    .tab-map {
      h4 {
        color: @primary-color;
        font-weight: bold;
      }
      p {
        line-height: 1.2;
        font-size: 16px;
      }
      .gmap {
        height: 100%;
        min-height: 300px;
      }
    }
    .tab-map .ant-list-item {
      margin: 0 0 10px;
      padding: 0;
      &.map-row {
        background: #fff;
        padding: 0 10px;
        &:nth-child(odd) {
          background: #f5f5f5;
          padding: 10px;
        }
        &:first-of-type {
          border: 0;
        }
        .ant-row {
          width: 100%;
        }
      }
      span {
        font-family: @font-family;
      }
    }
    p {
      margin: 0 0 10px 0;
      font-size: 1em;
    }
    .tab-desc {
      p {
        text-align: justify;
      }
      h3 {
        font-size: 1.3em;
        margin: 20px 0 10px;
        text-align: left;
        svg {
          color: @primary-color;
          vertical-align: middle;
          font-size: 25px;
        }
      }
    }
    .facility {
      & > .ant-col {
        background: #fffdfd;
        &:nth-child(odd) {
          background: #f5f5f5;
        }
        .facility-box {
          padding: 0 15px 10px;
        }
        .ant-tag-red {
          font-size: 11px;
          padding: 4px 5px;
          line-height: 1;
        }
      }
      svg {
        color: @primary-color;
      }
      h4 {
        font-size: 15px;
        color: @link-hover-color;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        line-height: 1.2;
        border-bottom: 1px solid #f9d8df;
      }
      ul {
        padding: 0;
        list-style-type: none;
      }
    }

    .ant-tabs-ink-bar {
      height: 3px;
    }
    .ant-collapse-content-box {
      padding: 0 15px 15px;
      background: #fff;
    }
    // no idea: need to fix
    // .ant-tabs-nav {
    //   width: 100%;
    //   .ant-tabs-tab {
    //     color: @link-hover-color;
    //     font-family: @font-family;
    //     &.ant-tabs-tab-active {
    //       color: @link-hover-color;
    //       font-weight: bold;
    //     }
    //   }
    // }
    .ant-tabs-nav .ant-tabs-tab {
      width: 33%;
      text-align: center;
      color: #999;
    }
  }
  .gallery {
    background: #f5f5f5;
    padding: 10px 20px;
    .ant-tabs-nav .ant-tabs-tab {
      width: 100%;
      text-align: left;
      padding: 10px 20px 0 0;
      margin: 0;
      &.ant-tabs-tab-active {
        color: @link-hover-color;
      }
    }
  }
  .ant-collapse-content,
  .ant-collapse > .ant-collapse-item {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
  }
  .ant-collapse-header {
    padding: 0;
  }
  h3 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
    color: @text-color;
    span {
      padding: 6px 5px;
      //background: #c7e4ea;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      svg {
        color: @primary-color;
      }
    }
  }
  .hotel-cover {
    max-height: 200px;
    min-height: 170px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .hotel-info {
    padding: 15px 10px 20px 0;
    position: relative;
    height: 100%;
    svg {
      vertical-align: top;
    }
    .address {
      margin: 0 0 10px 0;
      font-size: 13.5px;
      color: #848484;
      text-transform: uppercase;
      font-weight: normal;
      svg {
        color: #999;
        margin-right: 2px;
        vertical-align: inherit;
      }
      a {
        text-transform: initial;
        color: @primary-color;
      }
      .ant-col:first-of-type {
        max-width: 18px;
      }
    }

    .details-btn {
      position: absolute;
      right: 20px;
      width: 100%;
      bottom: 18px;
    }
    h2 {
      font-size: 1em;
      margin: 0 0 5px 0;
      font-weight: bold;
      color: @link-hover-color;
    }
    .right {
      text-align: right;
    }
    .price {
      font-family: auto;
      font-size: 1.1em;
      color: #cc2020;
      font-weight: bold;
      margin: 20px 0 2px 0;
      sup,
      s {
        font-weight: normal;
      }
      sup {
        color: #888;
        font-size: 14px;
      }
      s {
        color: #999;
        font-size: 0.9em;
        font-style: italic;
      }
    }
    button.ant-btn {
      vertical-align: middle;
      font-size: 15px;
      line-height: 1;
      i {
        color: #fff;
        font-size: 0.8em;
        vertical-align: middle;
      }
    }
  }
}
#hotels.search .grey-box {
  .ant-select-search--inline {
    line-height: initial;
  }
  .customsearch fieldset .ant-select-selection-selected-value {
    text-transform: initial;
  }
}
#hotelbeds-details {
  .single-pic {
    max-height: 500px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .ant-carousel .slick-dots-bottom {
    bottom: auto;
  }
  .ant-carousel .slick-slide img {
    width: 100%;
    min-height: 300px;
  }
  .ant-carousel .slick-dots {
    height: auto;
    position: relative;
    margin-top: 10px;
    li {
      margin: 0 4px;
      width: auto;
      height: auto;
    }
    li button {
      width: 10px;
      height: 10px;
      transition: none;
      border-radius: 50%;
      background: @primary-color;
      opacity: 0.2;
      &:before {
        display: none;
      }
    }
    .slick-active button {
      opacity: 0.8;
    }
  }
  input.ant-input {
    border-color: #ececec;
  }
  .slick-slide {
    & > div {
      padding-right: 5px;
    }
    &:last-of-type {
      & > div {
        padding-right: 0;
      }
    }
  }
  .ant-typography,
  input.ant-input,
  .ant-radio-group span {
    font-size: 1.1em;
  }
  button.ant-btn {
    padding: 12px;
    font-size: 1.3em;
    font-weight: bold;
    &[disabled] {
      background: #e8e7e7;
    }
  }
  b {
    font-weight: normal;
  }
  .dates {
    b {
      font-size: 1em;
      color: @primary-color;
    }
    p {
      margin: 0;
      line-height: 1.2;
    }
  }
  .price {
    b {
      color: @primary-color;
      font-size: 1.2em;
      display: block;
    }
    s {
      margin-right: 5px;
      font-style: italic;
      color: #999;
    }
    b,
    s {
      display: inline-block;
    }
  }

  .ant-statistic {
    margin-top: 5px;
  }
  .dates p,
  .price b {
    margin-top: 10px;
  }

  h4 {
    border-top: 1px solid #cce3ef;
    margin-top: 20px;
    padding-top: 20px;
    font-family: @font-family;
    margin-bottom: 5px;
    color: @primary-color;
    font-weight: bold;
    font-size: 1.1em;
  }
  h6 {
    text-align: center;
    display: inline-block;
    background: @link-hover-color;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    display: block;
    height: 100px;
    width: 100px;
    position: relative;
    margin: auto;
    color: #fff;
    span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      font-size: 11px;
    }
    svg {
      font-size: 3em;
      color: #fff;
      display: block;
      text-align: center;
      margin: 0 auto 5px;
    }
  }
  .center-info div {
    text-align: center;
    position: relative;
    top: auto;
    .ant-statistic-content,
    .ant-statistic-content-value-int {
      color: @link-hover-color;
      line-height: 1;
    }
  }
  .ant-tag {
    margin: 5px 0 5px 0;
    padding: 2px 8px;
    font-size: 1em;
    font-weight: normal;
    text-transform: initial;
  }
  .ant-card {
    ul {
      padding: 0 0 0 20px;
      margin: 0;
      li {
        font-size: 1em;
        color: @link-hover-color;
      }
    }
    pre {
      font-family: @font-family;
      white-space: pre-wrap;
      color: @link-hover-color;
    }
  }
  .ant-card-head-title {
    text-transform: uppercase;
    margin-top: 10px;
  }
  h1 {
    color: @primary-color;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    svg {
      font-size: 0.9em;
      vertical-align: baseline;
    }
  }
  h5.address {
    font-size: 1em;
    margin: 10px 0 20px;
    .location {
      max-width: 25px;
    }
  }
  .ant-card-bordered {
    border-radius: 5px;
  }
  .ant-card-head {
    color: @text-color;
    font-size: 1.3em;
    padding: 0;
  }
  .ant-card-head-title {
    line-height: 1;
    font-weight: bold;
  }
  .ant-card-body {
    background: #f0f5fb;
    padding: 15px 20px;
    margin-bottom: 20px;
    b {
      font-size: 1.1em;
      color: @link-hover-color;
    }
  }
  .details {
    .anticon {
      color: @link-hover-color;
    }

    ul {
      padding: 0;
      list-style-type: none;
      .ant-col-2 {
        max-width: 22px;
      }
    }
  }
}
.drawer-hotel {
  .ant-form-item-control-wrapper,
  .ant-drawer-body .ant-form-item {
    width: 100%;
  }
  .ant-drawer-close {
    background: #999;
    line-height: initial;
    i {
      font-size: 20px;
      color: #fff;
    }
  }
}
.hotel-info svg,
#hotelbeds-details h1 svg {
  color: #fdd02c;
}
.hotel-info,
#hotelbeds-details {
  .ant-card {
    box-shadow: none;
  }
  .slick-slider {
    &::before {
      display: none;
    }
  }
  .slick-track {
    min-width: 100% !important;
  }
  .address {
    color: #999;
    text-transform: uppercase;
    svg {
      color: #999;
      margin-right: 2px;
    }
  }
  .info-box {
    box-shadow: none;
    margin-bottom: 0;
  }
}
#hotels-search,
#hotelbeds-details {
  .ant-tag-cyan {
    color: #328e41;
    background: #f0f7e7;
    border-color: #94ef8e;
  }
}
.placeholder-image {
  text-align: center;
  height: 100%;
  background: #f9e6e7;
  padding: 40px;
  position: relative;
  min-height: 180px;
  i {
    font-size: 15px;
  }
  svg {
    font-size: 70px;
    color: #ecc4cd;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
  }
}

@media (min-width: @screen-lg) {
  .drawer-hotel {
    .ant-drawer-content-wrapper {
      min-width: 100% !important;
    }
  }
}
@media (min-width: @screen-md) and (max-width: @screen-lg) {
  #hotelbeds-result {
    .hotel-cover {
      min-height: 270px;
    }
  }
}
@media (min-width: @screen-lg) and (max-width: @screen-xxl) {
  #hotelbeds-result {
    .info .right.book {
      padding-right: 20px;
    }
    // .gallery {
    //   .ant-tabs-nav .ant-tabs-tab {
    //     width: auto;
    //   }
    // }
  }
  .drawer-hotel {
    .ant-drawer-content-wrapper {
      min-width: 1040px !important;
    }
  }
}
@media (max-width: @screen-xl) {
  #hotelbeds-result {
    .hotel .tab-desc .ant-tabs-nav .ant-tabs-tab {
      padding: 10px 15px;
    }
    // .gallery {
    //   .ant-tabs-bar {
    //     border: 0;
    //   }
    //   .ant-tabs-nav {
    //     margin-bottom: 10px;
    //   }
    // }
  }
}
@media (max-width: @screen-lg) {
  #hotelbeds-result {
    margin-top: 0;
    .hotel-info svg {
      vertical-align: middle;
    }
    // .tab-desc {
    //   .ant-tabs-nav .ant-tabs-tab {
    //     width: auto;
    //     margin: 0;
    //     display: inline-block;
    //     padding: 10px 12px;
    //     text-align: center;
    //   }
    //   .ant-tabs-nav div:first-of-type {
    //     width: max-content;
    //   }
    // }
  }
  .drawer-hotel {
    .ant-drawer-content-wrapper {
      width: 100% !important;
    }
  }
  #hotelbeds-details {
    h1 {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.2;
    }
    .details {
      .room,
      .dates {
        margin-bottom: 15px;
      }
      .ant-tag {
        padding: 2px 5px 3px;
      }
    }
    .ant-card-head-wrapper {
      &,
      > div {
        display: block;
      }
    }
    .ant-card-extra {
      float: none;
      padding: 0;
      margin: 0 0 10px;
    }
    .ant-form .ant-col:first-of-type {
      margin: 0 0 5px 0;
    }
  }
}
@media (max-width: @screen-md) {
  .hotels-bg.search,
  .flights-bg.search {
    padding: 20px 0;
  }
  #hotelbeds-result {
    // .tab-desc .gallery {
    //   .ant-tabs-bar {
    //     border: 0;
    //   }
    //   .ant-tabs-tab-prev-icon {
    //     left: 20%;
    //   }
    //   .ant-tabs-tab-next-icon {
    //     right: -10px;
    //     left: auto;
    //   }
    // }
    .hotel-cover {
      &,
      img {
        width: 100%;
      }
    }
    .hotel-info {
      padding: 20px;
      .details-btn {
        position: relative;
        right: auto;
        bottom: auto;
      }
    }
    h3 {
      margin-top: 10px;
    }
  }
  #hotelbeds-details {
    .ant-card-body b {
      font-size: 1em;
    }
    .ant-statistic {
      margin: 5px 0 20px;
    }
    .dates {
      margin-bottom: 20px;
    }
    .center-info div .ant-statistic-content {
      height: auto;
      line-height: initial;
    }
    .ant-statistic-content-value {
      width: 50px;
      display: block;
      text-align: center;
      margin: auto;
    }
    h1 {
      margin-bottom: 20px;
    }
    h5.address {
      font-size: 0.9em;
    }
    .ant-card-head-title {
      line-height: 1.4;
      padding: 0;
      white-space: pre-line;
    }
    .ant-radio-wrapper {
      margin: 0 0 10px;
      font-size: 1.1em;
    }
  }
  .ant-drawer-body .ant-form-item-control {
    margin-right: 0;
  }
}

@media (max-width: @screen-sm) {
  #hotelbeds-result {
    .hotel-info {
      padding: 20px;
      .right,
      button.ant-btn {
        text-align: center;
      }
    }
    h3 {
      text-align: center;
      span {
        display: none;
      }
    }
    // .hotel .ant-tabs-nav .ant-tabs-tab {
    //   width: auto;
    //   margin: 0;
    // }
    .hotel .tab-map p {
      font-size: 15px;
    }
    .info .right.book {
      display: none;
    }
    .ant-tag {
      margin-top: 5px;
    }
    .right,
    .room-row {
      .type-row {
        padding: 0;
        text-align: center;
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        button {
          margin: 25px 0;
        }
      }
      button.ant-btn,
      .ant-col.right {
        text-align: center;
      }
    }
  }
  #hotelbeds-details {
    h1 {
      margin-top: 25px;
    }
    .ant-carousel .slick-slide img {
      min-height: auto;
      height: auto;
    }
    .ant-card-extra {
      margin: 10px 0;
    }
    .info-box .ant-card-body {
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #cce3ef;
    }
    .ant-card ul li {
      font-size: 1.1em;
    }
    .ant-card-head {
      border-bottom: 0;
    }
    .price b {
      font-size: 1.2em;
    }
  }
}

#hotels {
  .banner-slider {
    position: relative;
    .banner-img {
      min-height: 450px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .banner-centered-text {
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -25%);
      z-index: 1;
      padding: 25px 50px;
      // min-width: 244px;
      background: rgba(0, 0, 0, 0.33);
      text-align: center;
      h3 {
        font-size: 36px;
        color: #ffffff;
        font-family: "DancingScript-Regular";
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  > .hotels-search {
    position: relative;
    top: -100px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: #888888 0px 4px 12px 0px;
    padding: 40px;
    @media (max-width: 440px) {
      padding: 10px !important;
    }

    .ant-radio-group {
      background: #fff;
      border-radius: 50px;
      padding: 0 30px;

      .ant-radio-button-wrapper {
        padding: 0 30px;
        background: #fff;
        border-radius: 50px;
        margin: 0 20px;
        border: none;
      }

      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        outline: none;
      }

      .ant-radio-button-wrapper-checked:first-child,
      .ant-radio-button-wrapper-checked,
      .ant-radio-button-wrapper-checked:hover {
        border-color: @link-hover-color;
        background: @link-hover-color;
        color: #fff;
      }
    }

    .ant-select-selection {
      // border: none;
      box-shadow: none;
    }
  }
  .upper-hotel-search {
    padding-bottom: 20px;
    .ant-select-selection {
      border: none;
      font-family: @font-roboto-bold;
    }
    .ant-select-arrow {
      pointer-events: none;
    }
  }
  .lower-hotel-search {
    // .ant-select-selection-selected-value {
    //   background: @primary-color;
    //   color: #fff;
    //   padding-left: 15px;
    //   padding-right: 15px;
    //   border-radius: 3px;
    // }

    .custom-auto-complete {
      display: flex;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      // padding-right: 5px;
      .label {
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 6px;
      }
      .destination-autocomplete {
        width: 155px;
        padding-right: 15px;
      }
      .ant-input {
        border: none;
        height: 27px;
        margin: 8px 8px;
        color: #000;
      }
      .selected {
        .ant-input {
          background: #006f97;
          color: #fff;
          border-radius: 3px;
        }
      }
      .ant-calendar-picker {
        > div > i.anticon {
          display: none;
        }
        width: 140px;
        .ant-calendar-picker-input {
          color: #000;
          border: none;
          height: 27px;
          border-radius: 3px;
          margin: 8px 8px;
        }
        .ant-input {
          width: 91%;
        }
      }
      // .ant-select-combobox .ant-select-arrow {
      //   display: inline;
      //   margin-top: 0;
      // }
    }
    .ant-dropdown-link{
      .ant-input{
        height: 45px;
        border-radius: 3px;
        padding-right: 20px;
      }

    }
    .ant-btn{
      height: 45px;
    }

    .custom-date-picker {
      // margin-top: 15px;
      // margin-bottom: 15px;
      display: flex;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding-right: 5px;
      .label {
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 6px;
      }
      .ant-calendar-picker {
        > div > i.anticon {
          display: none;
        }
        width: 140px;
        .ant-calendar-picker-input {
          // color: #fff;
          // background: #006f97;
          color: #000;
          border: none;
          height: 27px;
          border-radius: 3px;
          margin: 8px 8px;
        }
        .ant-input {
          width: 91%;
        }
      }
    }
  }
}
