@media (max-width: 767px) {
  .logo-img {
    width: 130px !important;
  }
}
.logo-img {
  width: auto;
}

#maintenance{
  font-family: @font-opensan;
  strong {
    font-family: "OpenSans-ExtraBold";
  }
}

.left-text-position {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-40%, -25%);
}

.left-text-position-bottom {
  position: absolute;
  bottom: 5%;
  left: 40%;
  transform: translate(-40%, -5%);
}

.right-text-position {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-40%, -55%);
}

.right-text-position-mobile{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}

.silk-primary-btn {
  background: @accent-1;
  color: #ffffff;
  font-family: @font-opensan;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  height: 50px;
  padding: 10px 20px;
  font-size: 16px;
}

.maintenance-drawer {
  .ant-drawer-content {
    .ant-drawer-body {
      padding: 0;
    }
  }
}

.left-circle-position {
  position: absolute;
  top: 9%;
  left: 15%;
  transform: translate(-15%, -10%);
}

.right-circle-position {
  position: absolute;
  top: 3%;
  right: 0;
  transform: translate(50%, -10%);
}
.right-circle-position-mobile {
  position: absolute;
  top: 6%;
  right: 0;
  transform: translate(50%, -10%);
}


.right-text-position-mobile {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}