#mice{
  .mice-content {
    color: #000000;
    padding: 60px 50px 40px 0;
    h3{
      font-size: 36px;
      font-family: @font-primary;
      font-weight: 700;
    }
    p{
      font-size: 16px;
      letter-spacing: normal;
      line-height: normal;
      font-family: 'Roboto-Light';
      line-height: 1.6em;
    }
  }
  .mice-title{
    color: #000000;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: @font-primary;
  }
  .mice-service{
    color: #000000;
    .mice-service-content{
      margin-top: 25px;
      .mice-service-desc{
        line-height: 36px;
        font-family: @font-roboto-light;
        font-size: 16px;
        letter-spacing: normal;
        font-style: normal;
      }
    }
    .ant-carousel .slick-dots{
      text-align: right;
      bottom: 30px;
      right: 10%;
      li button {
        width: 9px;
        height: 9px;
        background: #ffffff;
      }
      li.slick-active button{
        width: 9px;
        background: @accent-1;
      }
    }
    
  }
  .mice-seamless{
    .mice-seamless-desc{
      text-align: center;
      color: #046e96;
      font-size: 16px;
      font-family: @font-roboto-light;
      padding-top: 15px;
    }
    .ant-carousel .slick-arrow .anticon{
      font-size: 25px;
      color: #000000;
    }
    .ant-carousel .slick-prev, .ant-carousel .slick-next{
      top: 42%;
    }
    .ant-carousel .slick-prev{
      left: -23px;
    }
    .ant-carousel .slick-next{
      right: -23px;
    }
  }
}
@media(min-width: 800px) and (max-width: 991px){
  #mice .mice-service-content{
    margin-top: 0 !important;
  }
}
@media(min-width: 768px) and (max-width: 799px){
  #mice {
    .mice-service-content{
      margin-top: 0 !important;
    }
    .mice-service-desc{
      line-height: 1.5 !important;
    }
  }
}
@media(max-width: 767px) {
  #mice .mice-seamless-content{
    padding: 50px 30px;
  }
  #mice .mice-content{
    padding: 60px 0 40px 0;
  }
}