
#region{
  .ant-carousel .slick-arrow {
    color: #000;
  }
  h2{
    font-size: 36px;
    font-family: @font-primary;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #000;
    margin-bottom: 35px;
  }
  p{
    font-family: @font-roboto-light;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin: 0;
  }
  .region-content{
    background-color: #fff;
    z-index: 1;
    position: relative;
    margin-top: -150px;
  }
  .region-tags{
    margin-top: 44px;
    a {
      font-size: 16px;
      line-height: 24px;
      font-family: @font-roboto;
      color: #ffffff;
      text-align: center;
      font-weight: 300;
      background-color: @primary-color;
      padding: 10px 25px;
      border-radius: 5px;
      &:hover {
        background-color: @accent-1;
      }
    }
    .active{
      background-color: @accent-1;
    }
    @media (max-width: 425px) {
      a {
        font-size: 13px;
        padding: 7px 18px;
      }
    }
  }

  .region-divider{
    // margin-top: 58px;
    height: 1px;
    background-color: #e4e4e4;
    background-image: linear-gradient(to right, #ffffff 0%, #b8b8b8 100%);
  }
  .region-country{
    h2{
      color: @primary-color;
      margin-bottom: 30px;
    }
    p + p {
      margin-top: 20px;
    }

    iframe{
      min-height: 278px;
      margin-top: 10px;
      width: 100%;
    }
    article{
      text-align: center;
      font-size: 13px;
      line-height: 48px;
      color: #888888;
      font-weight: 300;
      font-family: @font-roboto;
    }
   
  }
  .country-attributes-content{
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    p{
      font-weight: 700;
      font-family: @font-primary;
      line-height: 18px;
      font-size: 13px;
      color: #000000;
    }
    span{
      color: #000000;
      font-weight: 300;
      font-family: @font-roboto;
    }
    a{
      font-weight: 300;
      font-family: @font-roboto;
    }
  }

  .region-tours{
    .ant-carousel .slick-prev{
      top: 45%;
    }
    .ant-carousel .slick-next{
      top: 45%;

    }
    h2{
      color: #888888;
      font-size: 30px;
      font-family: @font-primary;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 17px;
    }
  }
}