@media (max-width: 1649px) {
  .site-nav {
    .social-icons {
      position: absolute;
      right: 182px;
    }
  }
}

@media (max-width: 1179px) {
  .wrap {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .ant-layout-content {
    margin-top: 0;
  }
  .mobile-nav {
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
      display: none!important;
    }
    a, .ant-menu-submenu-title {
      font-size: 20px!important;
    }
  }
  .site-nav {
    .menu-trigger {
      display: block;
      cursor: pointer;
    }
    .social-icons {
      position: relative;
      right: unset;
      .custom-icon {
        svg {
          fill: #fff;
        }
        &:hover svg {
          fill: @accent-2;
        }
      }
    }
    .pegasus {
      top: unset;
    }
    .top-half {
      background-color: #000;
      .wrap {
        height: 40px;
      }
      .login-btn {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0;
      }
    }
    .contact-links {
      display: block;
      a {
        color: #fff;
      }
    }
    .btm-half {
      height: 70px;
      background-color: #fff;
      display: flex;
      align-items: center;
      .wrap {
        .ant-menu {
          display: none;
        }
      }
      .inverted-arc {
        top: 100%;
        margin-top: -3px;
      }
    }
  }
  .ant-carousel .home-carousel {
    .slick-prev {
      left: 30px;
    }
    .slick-next {
      right: 30px;
    }
  }
  .home-slide {
    padding: 30px 90px;
  }
  .floating-buttons {
    .ant-btn {
      width: 200px;
    }
  }
  .testimonial-slider .slick-arrow {
    top: 20px;
  }
}

@media (max-width: 767px) {
  .ant-col {
    margin-bottom: 0 !important;
  }
  .ant-layout-footer {
    text-align: center;
    .accreditions, .social-icons {
      justify-content: center;
    }
  }
  .ant-col {
    margin-bottom: 30px;
  }
  .floating-buttons {
    a {
      width: 30%;
    }
    .ant-btn {
      width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .section-header {
    max-width: 100%;
  }
  .ant-carousel .home-carousel {
    .slick-arrow {
      top: auto;
      bottom: 82px;
    }
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
    .slick-dots {
      padding: 0 90px;
    }
  }
  .home-slide {
    padding: 10px;
    .slide-content {
      max-width: 100%;
    }
    h1 {
      font-size: 3em;
    }
  }
  .floating-buttons {
    height: auto;
    margin-bottom: 0;
    a {
      width: 33.333333%;
    }
    .ant-btn {
      width: 100%;
      flex-flow: column;
      svg {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .product-card .content-text {
    position: relative;
    padding: 30px 40px 50px;
    opacity: 1;
    background-color: #000;
  }
  .media-rows {
    .ant-col {
      margin-bottom: 0;
    }
  }
  #tour {
    .ant-anchor {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: stretch;
    }
    .ant-anchor-link, .ant-anchor-link.primary {
      flex-grow: 1;
      text-align: center;
      background-color: transparent;
      &:nth-child(even) {
        background-color: @primary-color;
      }
    }
  }
  .tour-actions {
    justify-content: center;
  }
}

@media(max-width: 1023px){
  #home-contact{
    .contact-form{
      width: auto !important;
      margin: 50px 50px;
    }
  }
}
@media(max-width: 500px){
  #home-contact{
    .contact-form{
      padding: 20px 20px;
      margin: 30px 30px;
    }
  }
}