@import "~antd/dist/antd.less";
@import "~nprogress/nprogress.css";
@import "~travelcloud-antd/styles.less";
@import "~aos/dist/aos.css";
@import "./custom-prefix.less";
@import "./tour-item-detail.less";
@import "./checkout.less";
@import "./smoke-animation.less";
@import "./tour-generics.less";

// For the full set of variables https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #ffc000;
@accent-1: #F7C00C;
@accent-2: #F7C00C;
@accent-3: #ac9605;
@accent-4: #0C28B6;
@accent-5: #e1e1e1;
@accent-6: #ff4040;
@accent-7: #d5e8cc;
@accent-white: #ffffff;
@font-primary: "Inter";
@font-secondary: "";
@font-semibold: "Inter-SemiBold";
@font-bold: "Inter-Bold";
@font-extrabold: "Inter-ExtraBold";
@font-poppins: "Poppins";
@font-poppins-bold: "Poppins-Bold";
@font-poppins-semibold: "Poppins-Semibold";
@font-poppins-extrabold: "Poppins-Extrabold";
@font-montserrat: "Montserrat";
@font-chinese: "Adobe-Heiti-Std";


@font-molle: "Molle";
@font-bebaneue: "BebasNeue-Regular";
@font-opensan: "OpenSans-Regular";
@font-roboto-light: "Roboto-Light";
@font-roboto: "Roboto-Regular";
@font-roboto-bold: "Roboto-Bold";
@font-opensan-semi: "OpenSans-SemiBold";
@font-opensan-bold: "OpenSans-Bold";
@font-italianno: "Italianno-Regular";
@font-nueva-italic: "Nueva-Italic";

.font-molle {
  font-family: @font-molle;
}
.font-opensan {
  font-family: @font-opensan;
}
.font-semibold {
  font-family: @font-secondary;
}
.bg-primary {
  background-color: @primary-color;
}
.bg-accent-1 {
  background-color: @accent-1;
}
.bg-accent-2 {
  background-color: @accent-2;
}
.bg-accent-3 {
  background-color: @accent-3;
}
.bg-accent-4 {
  background-color: @accent-4;
}

.color-primary {
  color: @primary-color;
}
.color-accent-1 {
  color: @accent-1;
}
.color-accent-2 {
  color: @accent-2;
}
.color-accent-3 {
  color: @accent-3;
}
.color-accent-4 {
  color: @accent-4;
}
.hover-yellow:hover {
  color: @accent-3;
}

// .font-primary {
//   font-family: @theme-font;
//   font-weight: bold;
// }

html {
  font-size: 100%;
}
body {
  font-size: 14px;
  font-family: @font-roboto;
  // font-family: @font-primary;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  // line-height: 1;
  margin-bottom: 0.5em;
  line-height: 1.4;
  font-weight: 500;
}
h6 {
  font-size: 10px;
}
h5 {
  font-size: 14px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 24px;
}
h2 {
  font-size: 42px;
}
h1 {
  font-size: 60px;
}
a {
  color: @primary-color;
  &:hover {
    color: @accent-2;
  }
}

strong {
  font-weight: bold;
}

.hover-primary:hover {
  color: @primary-color !important;
}

.hover-primary-border:hover {
  border: 3px solid @primary-color;
}

.wrap-xl{
  max-width: 1833px;
  margin:auto;
}
.wrap {
  max-width: 1430px;
  margin: auto;
}
.wrap-sm {
  max-width: 870px;
  margin: auto;
}
.wrap-xs {
  max-width: 727px;
  margin: auto;
}

.wrap-large {
  max-width: 1260px;
  margin: auto;
}
.pad,
.pad-y,
.pad-top {
  padding-top: 50px;
}
.pad,
.pad-y,
.pad-btm {
  padding-bottom: 50px;
}
.pad,
.pad-x,
.pad-left {
  padding-left: 80px;
}
.pad,
.pad-x,
.pad-right {
  padding-right: 80px;
}

.app {
  min-height: 100vh;
}

.capitalize {
  text-transform: capitalize;
}

.center{
  text-align: center;
}

#nprogress {
  .bar {
    background: @primary-color;
    height: 5px;
  }
  .spinner-icon {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: @primary-color;
    border-left-color: @primary-color;
  }
  .peg {
    box-shadow: 0 0 10px @primary-color, 0 0 5px @primary-color;
  }
  .spinner {
    right: initial;
    left: 20px;
    top: 20px;
  }
}
.ant-layout {
  background: #fff;
}
.ant-layout-header {
  background: transparent;
  height: auto;
  line-height: 1;
  padding: 0;
  width: 100%;
  z-index: 1;
  .right-drawer-buttons {
    float: right;
  }
}

// .ant-drawer-content {
//   background: transparent;
// }
.ant-drawer {
  button {
    span {
      color: @accent-white !important;
    }
  }
}
.cart-drawer {
  .ant-drawer-content {
    background-color: #fff;
  }
}
.ant-drawer-close {
  color: #fff;
  background-color: @primary-color;
  .ant-icon svg {
    width: 20px;
    height: 20px;
  }
}
.ant-carousel {
  line-height: 1;
  font-size: 1em;
}
.cart-btn {
  border: 1px solid #000;
  border-radius: 0;
  font-family: @font-primary;
  color: #000000;
  letter-spacing: 2.08px;
  font-weight: 400;
  height: 26px;
  padding-left: 18px;
  padding-right: 18px;
  // padding-top: 3px;
}
.ant-menu-inline {
  border: 0;
}
.ant-menu {
  font-size: 16px;
  font-family: @font-opensan-semi;
  color: #000000;
  font-weight: 500;
  background: inherit;
  border-bottom: 0;
  .padding-left-reduce {
    padding-left: 0 !important;
  }
  .ant-menu-item,
  .ant-menu-submenu {
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    margin-top: 0;
    border-bottom: 0;
    &:hover {
      // .ant-menu-submenu-selected{
      border-bottom: 0;
      // }
      a,
      .ant-menu-submenu-title {
        color: @primary-color;
        padding: 0;
      }
    }
    .ant-menu-submenu-title {
      padding: 0;
    }
    a {
      color: #000;
    }
  }
  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    a,
    .ant-menu-submenu-title {
      color: @primary-color !important;
    }
  }
  .ant-menu-submenu-selected {
    color: @primary-color !important;
  }
  > .ant-menu-item > a {
    display: flex;
    align-items: center;
    height: 48px;
  }
  .ant-menu-submenu-title {
    line-height: 48px;
  }
  .ant-menu-item-selected a {
    // color: @accent-1 !important;
  }
  .ant-menu-submenu-selected a {
    color: @primary-color !important;
  }
  .ant-menu-item-active a {
    color: @primary-color !important;
  }
}
.active-sub-menu {
  color: @primary-color !important;
}

.ant-menu-sub {
  .ant-menu-item {
    // height: auto;
    // background-color: @primary-color;
    // margin: 0 !important;
    // border-bottom: 0;
    // border: 1px solid @primary-color;
    // border-right: 1px solid @primary-color !important;
    &:hover {
      a,
      .ant-menu-submenu-title {
        color: #ffffff;
      }
      background-color: @accent-1;
      // border: 3px solid @primary-color;
    }
  }
}

.app-sider {
  .anticon-close {
    top: 40px !important;
    right: 40px !important;
    z-index: 1;
  }
}
.ant-carousel {
  line-height: 1.5;
  .slick-arrow {
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 1;
    transition: all 0.5s ease;
    color: #fff;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    .anticon {
      font-size: 48px;
    }
    &:hover,
    &:focus,
    &:active {
      color: #000;
    }
    &:hover {
      opacity: 1;
    }
    &::before,
    &::after {
      content: "";
      display: none;
    }
  }
  .slick-next {
    left: auto;
    right: -10px;
  }
  .slick-disabled,
  .slick-disabled:hover {
    opacity: 0.25;
    cursor: default;
  }
  .slick-dots {
    bottom: 50px;
    height: 30px;
    li button {
      width: 12px;
      height: 12px;
      background: #fff;
      opacity: 1;
      border-radius: 50%;
      margin: 0 3px;
    }
    li.slick-active button {
      width: 12px;
      background: @primary-color;
    }
  }
}
.ant-select,
.ant-calendar-picker {
  width: 100%;
}
.ant-input,
.ant-select-selection {
  border: 1px solid #d9d9d9;
  border-radius: 0;
}
.fixed-aspect-ratio {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 0.8s ease-out;
}
.fixed-aspect-ratio-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
section {
  overflow: hidden;
}

// theme styles
.whatsapp {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  line-height: 0;
  path {
    fill: #fff;
  }
  circle {
    fill: #4fe776;
    transition: all 0.3s ease-out;
  }
  &:hover circle {
    fill: #000;
  }
}
.social-icons {
  display: flex;
  align-items: center;
  margin: 0 -4px;
  .custom-icon {
    cursor: pointer;
    margin: 0 4px;
    svg {
      fill: #000;
      transition: all 0.3s ease-out;
    }
    &:hover svg {
      fill: @primary-color;
    }
  }
}

#site-footer {
  background-color: @accent-white;
  padding: 60px 15px;
  color: #000000;
  font-family: @font-opensan;
  @media(max-width: 1400px){
    .p-x-30{
      padding: 0px;
    }
  }
  @media(max-width: 767px){
    iframe{
      margin-bottom: 15px;
    }
  }
  h5{
    font-family: @font-bold;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #cba567;
  }
  .footer-address{
    p{
      color: #666666;
      font-size: 15px;
      font-family: @font-primary;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .useful-links{
    a{
      line-height: 26px;
      color: #666666;
      font-size: 15px;
      font-family: @font-primary;
      font-weight: 400;
    }
    a:hover{
      color: #cba567;
    }
    a:active{
      color: #cba567;
    }
  } 
}
.footer-bottom{
  background-color: #cba567;
  p{
    color: #ffffff;
    padding: 18px 0;
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 13px;
    font-weight: 400;
    font-family: @font-primary;
  }
  a{
    color: #ffc000;
    font-family: @font-bold;
  }
}

.ant-divider-horizontal {
  margin: 18px 0;
}
#privacy-policy{
  padding: 30px;
}
#terms{
  padding: 30px;
}

#main-header {
  #top-bar{
    background-color: #ffc000;
    .get-quote{
      padding: 16px;
      text-align: center;
      .ant-dropdown-link{
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
        font-family: @font-primary;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
      }
      .quote-eng{
        font-family: @font-semibold;
      }
      .quote-chinese{
        font-family: @font-chinese;
      }
      .quote-arrow{
        font-family: @font-poppins-semibold;
      }
    }
  }
  
  #top-header{
    padding: 40px 0;
    border-bottom: 1px solid #cccccc;
    border-bottom-style: dotted;
    .phone{
      text-align: right;
      color: #888888;
      font-family: @font-primary;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      a{
        color: #22201d;
        font-weight: 700;
        font-size: 24px;
        font-family: @font-extrabold;
      }
      a:hover{
        color: #ffc000;
      }
    }
    .email{
      text-align: left;
      color: #888888;
      font-family: @font-primary;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      a{
        color: #22201d;
        font-weight: 700;
        font-size: 24px;
        font-family: @font-extrabold;
        text-transform: lowercase;
      }
      a:hover{
        color: #ffc000;
      }
    }
    @media(max-width: 768px){
      .phone{
        text-align: center !important;
        margin-bottom: 30px;
      }
      .email{
        text-align: center !important;
      }
      .circle-divider{
        margin-bottom: 30px;
      }
      .logo{
        margin-bottom: 30px;
      }
    }
    @media(min-width: 992px) and (max-width: 1440px){
      padding-right: 70px;
    }
  }
  #bottom-header{
    padding: 28px 0;
    .ant-menu{
      color: #22201d;
      font-family: @font-bold;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .ant-menu-submenu{
      padding: 0 13px;
    }
  }
  .header-top {
    margin-top: 21px;
    font-family: @font-roboto;
    font-size: 12px;
    .silkway-divider {
      margin-top: 7px;
      margin-bottom: 10px;
    }
    .social-group {
      margin-top: 7px;
      .call {
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #e1e1e1;
        span {
          color: @accent-1;
        }
        a {
          margin-left: 5px;
          color: #000;
        }
      }
      .email {
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #e1e1e1;
        span {
          color: @accent-1;
        }
        a {
          margin-left: 5px;
          color: #000;
        }
        margin-right: 10px;
      }
      .social {
        img {
          cursor: pointer;
          width: 18px;
          height: 18px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .header-top {
      max-width: 300px;
      margin: 0 auto;
      .call {
        margin-top: 10px;
      }
      .email {
        margin-top: 10px;
      }
      .social {
        margin-top: 10px;
      }
    }
  }
}

.banner-btn {
  font-family: @font-roboto;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 45px;
  background: #000;
  color: @accent-white;
}
.banner-btn:hover {
  background: @accent-1;
  color: @accent-white;
}
@media (max-width: 425px) {
  .banner-btn {
    padding: 20px 25px;
  }
}
@media (max-width: 375px) {
  .banner-btn {
    padding: 15px 15px;
  }
}

.title-content {
  max-width: 727px;
  margin: auto;
  h3 {
    text-align: center;
    line-height: 30px;
    font-size: 32px;
    color: #000000;
    font-family: @font-secondary;
  }
  p {
    font-family: @font-roboto-light;
    color: #000;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.6em;
    text-align: center;
  }
  @media (max-width: 425px) {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
}

#single-banner {
  position: relative;
  .single-banner-title {
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -40%);
    h1 {
      font-family: @font-secondary;
      font-size: 60px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    }
    @media (max-width: 450px) {
      h1 {
        font-size: 42px;
      }
    }
  }
}
#contact-banner {
  position: relative;
  margin-top: -79px;
  .contact-banner-content {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 41%;
    transform: translate(-50%, -40%);
    .contact-banner-title {
      font-weight: bold;
      font-family: @font-bebaneue;
      font-size: 140px;
      color: @accent-white;
      text-align: left;
      span {
        color: @accent-1;
      }
    }
    .contact-banner-description {
      margin-top: -46px;
      margin-left: 3px;
      font-family: @font-roboto;
      font-size: 20px;
      color: @accent-white;
      text-align: left;
    }
    @media (max-width: 954px) {
      .contact-banner-title {
        font-size: 100px;
        margin-bottom: 10px;
      }
    }
    @media (max-width: 681px) {
      .contact-banner-title {
        line-height: 91px;
        margin-bottom: 44px;
      }
    }
  }
  .map-point {
    position: absolute;
    top: 28%;
    right: 17%;
    width: 26px;
  }
  .map-line {
    position: absolute;
    top: 35%;
    right: 18%;
  }
  @media (min-width: 798px) and (max-width: 1179px) {
    margin-top: -130px;
  }
}
.silkway-divider {
  height: 1px;
  background-color: #e4e4e4;
  background-image: linear-gradient(to right, #ffffff 0%, #b8b8b8 100%);
}
.section-form {
  font-family: @font-roboto;
  font-size: 14px;
}
#request-section,
#contact {
  .ant-select-selection__rendered {
    line-height: 47px;
  }
  .ant-select-lg {
    font-size: 14px;
  }
  font-family: @font-roboto;
  h3 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    width: 343px;
    margin-bottom: 30px;
  }
  .address {
    margin-bottom: 5px;
    .address-desc {
      color: #000000;
      font-size: 16px;
      font-family: @font-roboto-light;
      span {
        font-weight: 700;
      }
      .address-link {
        span {
          color: #026f98;
          font-weight: 400;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
    a {
      color: #000000;
    }
  }
  .title {
    color: #000000;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: @font-primary;
  }
  .request-btn {
    border-radius: 0;
    float: right;
    background-color: @primary-color;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 0 15px;
  }
  .ant-input {
    height: 50px;
  }
  .ant-select-lg .ant-select-selection--single {
    height: 50px;
  }
  .ant-form-item {
    margin-bottom: 18px;
  }
  textarea {
    height: 184px !important;
    max-height: 184px !important;
  }
}
.kingtravel-contact-btn {
  border: 2px solid #cba567;
  background-color: #ffffff;
  color: #cba567;
  font-family: "Inter-ExtraBold";
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
}
.kingtravel-contact-btn:hover {
  background-color: @primary-color;
  color: #fff;
}

@media (min-width: 500px) and (max-width: 767px) {
  #request-section {
    h3 {
      padding: 0 15px;
      width: auto !important;
      text-align: center;
    }
    .responsive-contact-address {
      margin-left: 20%;
    }
    .address-content {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 499px) {
  #request-section {
    h3 {
      width: auto !important;
      text-align: center;
    }
    .responsive-contact-address {
      margin-left: 5%;
    }
    .address-content {
      margin-bottom: 30px;
    }
  }
}

.customise-btn {
  cursor: pointer;
  font-family: @font-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #000000;
  color: #fff;
  border: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 40px;
}
.customise-btn:hover {
  background-color: @accent-1;
}

.view-all-btn {
  border: 1px solid @primary-color;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 40px;
  text-transform: uppercase;
  color: @primary-color;
  font-family: @font-roboto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.view-all-btn:hover {
  background-color: @accent-1;
}

.alert-info-title {
  font-family: @font-secondary;
  font-size: 22px;
  color: #fff;
}
.alert-info-desc {
  color: #fff;
  font-size: 15px;
  font-family: @font-roboto;
}
.alert-info-content {
  font-family: @font-roboto;
  color: #fff;
  a {
    text-decoration: underline;
  }
  p {
    color: #fff;
    font-size: 15px;
  }
}
.alertbox-icon {
  button {
    background: @accent-2;
    color: #fff;
    border: none;
    img {
      margin-right: 5px;
      margin-bottom: 2px;
      width: 17px;
    }
    span {
      font-family: @font-roboto;
      font-size: 13px;
    }
  }
  button:hover,
  button:focus {
    background: @accent-1;
    color: #fff;
  }
}
.pannel-alert {
  background: @accent-2;
  padding-top: 20px;
  padding-bottom: 10px;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}
.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-top: 0;
}

.ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  z-index: 999;
  top: 25px;
  color: #fff;
}
.ant-collapse-arrow {
  right: 16px;
  left: auto !important;
}

@media (min-width: 1300px) {
  .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    right: 110px;
  }
}
@media (min-width: 1900px) {
  .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    right: 400px;
  }
}
// @media(max-width: 1280px){
//   .alertbox-icon{
//     padding-top: 0 !important;
//     padding-bottom: 7px !important;
//     background: @accent-2;
//   }
// }

@import "./maintenance.less";
@import "./home.less";
@import "./react-image-lightbox.less";
@import "./responsive.less";
@import "./mice.less";
@import "./region.less";
@import "./corporate-travel.less";
@import "./about.less";
@import "./flights.less";
@import "./flight-search.less";
@import "./hotels.less";
@import "./contact.less";
@import "./country-travel.less";

.ant-calendar-header .ant-calendar-prev-century-btn::before,
.ant-calendar-header .ant-calendar-prev-decade-btn::before,
.ant-calendar-header .ant-calendar-prev-year-btn::before,
.ant-calendar-header .ant-calendar-prev-century-btn::after,
.ant-calendar-header .ant-calendar-prev-decade-btn::after,
.ant-calendar-header .ant-calendar-prev-year-btn::after {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #000;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(-45deg) scale(1);
}

.ant-calendar-header .ant-calendar-prev-month-btn::before {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #000;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(-45deg) scale(1);
  transition: all 0.3s;
  content: "";
}
.ant-calendar-header .ant-calendar-next-century-btn::before,
.ant-calendar-header .ant-calendar-next-decade-btn::before,
.ant-calendar-header .ant-calendar-next-year-btn::before,
.ant-calendar-header .ant-calendar-next-century-btn::after,
.ant-calendar-header .ant-calendar-next-decade-btn::after,
.ant-calendar-header .ant-calendar-next-year-btn::after {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #000;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(135deg) scale(1);
}

.ant-calendar-header .ant-calendar-next-month-btn::before {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #000;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(135deg) scale(1);
  transition: all 0.3s;
  content: "";
}

#tiktok-page{
  margin-top: 20px;
  .loading-spinner {
    margin: 20px 0;
    text-align: center;
    border-radius: 4px;
  }
}

#featured-card{
  padding: 15px;
  .ant-card{
    border: 1px solid #cccccc;
    border-radius: 8px;
  }
  .ant-card-cover img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .ant-card-body{
    margin-bottom: 150px;
    // padding: 35px 40px;
  }
  .featured-card-section{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    margin: auto;
    right: 0;
    .featured-card-title-section{
      background-color: #ffffff;
      margin: 20px 40px 0;
    }
    h6{
      color: #929292;
      font-size: 11px;
      font-family: @font-primary;
      padding-top: 20px;
    }
    .featured-card-title{
      color: #000000;
      font-size: 18px;
      font-family: @font-bold;
    }
    .featured-card-title-chinese{
      color: #cba567;
      font-size: 15px;
      font-family: @font-chinese;
      padding-bottom: 20px;
      border-bottom: 2px solid #ffc000;
    }
  }
  .featured-card-pricing-section{
    background-color: #ffffff;
    margin: 20px 40px;
    text-align: center;
    // margin-top: 70px;
    color: #888888;
    font-size: 13px;
    font-family: @font-primary;
    // padding: 20px 0;
    span{
      color: #cba567;
      font-family: @font-extrabold;
      font-size: 13px;
    }
  }
  .featured-card-btn{
    background-color: #cba567;
    padding: 15px 50px;
    margin: 20px 40px 0;
    text-align: center;
    a{
     font-size: 16px;
      color: #ffffff;
      font-family: @font-extrabold; 
    }
    @media(max-width: 350px){
      padding: 15px 25px !important;
    }
  }
  .featured-card-btn:hover{
    background-color: #ffc000;
  }
  @media(min-width: 992px) and (max-width: 1150px) {
    .featured-card-section{
      .featured-card-title-section{
        margin: 20px 20px 0;
      }
      .featured-card-pricing-section{
        margin: 20px 20px;
      }
      .featured-card-btn{
        margin: 20px 20px 0;
      }
    }
  }
  @media(max-width: 768px) {
    .featured-card-section{
      .featured-card-title-section{
        margin: 20px 20px 0;
      }
      .featured-card-pricing-section{
        margin: 20px 20px;
      }
      .featured-card-btn{
        margin: 20px 20px 0;
      }
    }
  }
}